{% capture form_id %}AddToCartForm-{{ section_id }}{% endcapture %}
{% form 'product', product, data-productid: product.id, id: form_id, class: 'product-single__form small--text-center' %}

  <input type="hidden" name="data-product-id" value="{{ product.id }}">

  

  
  <div class="bm-product-varient-bottom">
    {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
        {% if variant_type == 'button' %}
          {% include 'variant-button', section_id: section_id, option_drop: option %}
        {% else %}
          {% include 'variant-dropdown', section_id: section_id %}
        {% endif %}
      {% endfor %}
    {% endunless %}
  
    <select name="id" data-productid="{{ product.id }}" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js" data-product-select js-bottom-product-id>
      {% for variant in product.variants %}
        {% if variant.available %}
          <option {% if variant == product.selected_or_first_available_variant %}
            selected="selected" {% endif %}
            value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money_with_currency }}
          </option>
        {% else %}
          <option disabled="disabled" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
            {{ variant.title }} - {{ 'products.product.sold_out' | t }}
          </option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  
  <div class="bm-Recharge-wrapper bm-Recharge-bottom">
    <!-- Begin Loop code -->
    {% if product.available %}
   	{% render 'bm-product-bottom-loop-form' %}
    {% endif %}
    <!-- End Loop code -->
  </div>
  <div class="bm-atc-btn-wrapper">
    <div class="bm-qtn-wrapper">
       {% if quantity_enable %}
        <div class="product__quantity product__quantity--{{ variant_type }}">
          <label for="Quantity-{{ section_id }}" class="variant__label">{{ 'products.product.quantity' | t }}</label>
          <div class="bm-quantity-wrap ">
            <div class="quantity-nav quantity">
              <div class="quantity-button quantity-down">&minus;</div>
              <input type="number" id="Quantity-{{ section_id }}" name="quantity" value="1" min="1">
              <div class="quantity-button quantity-up">&plus;</div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="bm-price-wrapper">
       <div class="product-single__prices {% if current_variant.compare_at_price > current_variant.price %}bm-sale-available{% endif %}">
          <div>

          {% if product.compare_at_price_max > product.price %}
            {%- assign hide_sale_price = true -%}
            {% if current_variant.compare_at_price %}
              {%- assign hide_sale_price = false -%}
            {% endif %}
            <span
              class="visually-hidden"
              aria-hidden="{{ hide_sale_price }}"
              data-price-a11y>
                {{ 'products.general.regular_price' | t }}
            </span>
            <span class="{% if hide_sale_price %} hide{% endif %}" data-price-wrapper>
              <span class="product__price product__price--compare" data-product-price-compare>
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </span>
            </span>
            <span class="visually-hidden" data-compare-a11y>{{ 'products.general.sale_price' | t }}</span>
          {% else %}
            <span class="visually-hidden" data-price-a11y>{{ 'products.general.regular_price' | t }}</span>
          {% endif %}

          <span
            class="product__price{% if current_variant.compare_at_price > current_variant.price %} sale-price{% endif %}"
            >
            {{ current_variant.price | money }}
          </span>

          <span class="product__price-total">
            {{ current_variant.price | money }}
          </span>

          {% if product_shipping_callout != blank %}
            <span class="product__note">
              {{ product_shipping_callout }}
            </span>
          {% endif %}
            
            <span class="bm-you-save"></span>
          </div>
          

        </div>
              

      <div data-product-unit-wrapper class="product__unit-price {% unless current_variant.unit_price_measurement %} hide{% endunless %}">
        {%- capture unit_price_base_unit -%}
          {%- if current_variant.unit_price_measurement -%}
            {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
              {{ current_variant.unit_price_measurement.reference_value }}
            {%- endif -%}
            {{ current_variant.unit_price_measurement.reference_unit }}
          {%- endif -%}
        {%- endcapture -%}

        {{ current_variant.unit_price | money }}/{{ unit_price_base_unit }}
      </div>
      </div>
      <div class="bm-atc-btn-container">
         {%- assign enable_dynamic_buttons = false -%}
            {% if enable_payment_button and template != 'product.preorder' %}
              {%- assign enable_dynamic_buttons = true -%}
            {% endif %}

            {% if enable_dynamic_buttons %}
              <div class="payment-buttons">
            {% endif %}

          <div class="ro_widget"></div>
              <button
                {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
                name="add"
                data-add-to-cart
                class="bm-add-to-cart {% if enable_dynamic_buttons %}btn btn--tertiary{% else %}btn{% endif %} btn--full add-to-cart"
                {% unless current_variant.available %} disabled="disabled"{% endunless %}>
                <img src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Vector_51e6ee7c-ef6b-42fa-b240-3b076aac4d2f.png?v=1664539642"/>
                <span data-add-to-cart-text>
                  {% if current_variant.available %}
                    {% if template == 'product.preorder' %}
                      {{ 'products.product.preorder' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endif %}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
              </button>

              {% if enable_dynamic_buttons %}
                {{ form | payment_button }}
              {% endif %}

            {% if enable_dynamic_buttons %}
              </div>
            {% endif %}
      </div>
    </div>
  </div>
  

  {% unless product.empty? %}
    <textarea class="hide" aria-hidden="true" data-variant-json>
      {{ product.variants | json }}
    </textarea>
    {% if product.options.size > 1 %}
      <textarea class="hide" aria-hidden="true" data-current-variant-json>
        {{ current_variant | json }}
      </textarea>
    {% endif %}
  {% endunless %}

{% endform %}

