<div class="bm-product-item" >
  <div class="bm-product-iamge">
    <div>
      <a href="{{product.url}}" ><img src="{{product.featured_image | img_url: '400x' }}" alt="{{ product.featured_image.alt | escape }}"/></a>
    </div>
  </div>
  <div class="bm-product-content">
      <div class="bm-product-content-top">
        <a href="{{product.url}}" ><h2>{{product.title}}</h2></a>
        <p> {{product.metafields.bm_plp.bm_product_short_description}} </p>
      </div>
      <div class="bm-product-content-btn">
        <span class="bm-review-collection stamped-product-reviews-badge" data-id="{{ product.id }}" data-product-title="{{product.title}}" data-product-type="{{product.type}}" style="display:block;" data-product-sku="{{ product.handle }}"></span>
        <a href="{{product.url}}" ><button class="bm-shop-now-btn">Shop Now</button></a>
      </div>

  </div>
</div>