<div id="ProductSection-{{ section_id }}" class="product-section" data-section-id="{{ section_id }}" data-section-type="product-template"
  {% if isModal %}
  data-subsection
  {% endif %}
  data-variant-type="{{ variant_type }}"
  {% if inventory_enable %}
  data-inventory="true"
  data-inventory-threshold="{{ inventory_threshold }}"
  {% endif %}
  {% if inventory_transfers_enable %}
  data-incoming-inventory="true"
  {% endif %}
  {% if product_image_type == 'stacked' %}
  data-images-stacked="true"
  {% endif %}
  data-video-style="{{ video_style }}"
  {% unless isModal %}
  data-enable-history-state="true"
  {% endunless %}>

  {% include 'product-template-variables' %}

  <div class="page-content">
    <div class="page-width bm-product-template-width">
      <div class="bm-breadcrumb">
        <a class="bm-breadcrumbs__link" href="/">Home</a>
        >
        {%- if collection.url -%}
          {{ collection.title | link_to: collection.url }}
          >
        {%- endif -%}
        {{ product.title }}
      </div>
      <div class="grid">
        <div class="grid__item {{ product_image_width }} bm-product-iamge">
          <div class="bm-mobile-product-info">
            {% if isModal %}
              <p class="h1 product-single__title bm-desktop-hide">
                {{ product.title }}
              </p>
            {% else %}
              <h1 class="h1 product-single__title bm-desktop-hide">
                {{ product.title }}
              </h1>
            {% endif %}
            <h2 class="bm-short-description-title bm-desktop-hide">
              {{product.metafields.bm_pdp.bm_short_description_title}}
            </h2>
            {% if settings.enable_product_reviews == true %}
              <div class="bm-product-review bm-desktop-hide">
                <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-title="{{ product.title | escape }}" data-product-type="{{ product.type }}" style="display: block;" data-product-sku="{{ product.handle }}"></span>
              </div>
            {% endif %}
          </div>

          {% include 'product-images',
                 section_id: section_id,
                 isModal: isModal,
                 video_looping: video_looping,
                 video_style: video_style
               %}

          <div class="bm-product-image-bottom-desktop">
            {% render 'bm-product-image-bottom' %}
          </div>
          {% if product.metafields.bm_pdp.recognized_text != blank %}
          <div class="bm-product-recognized-desktop">
            <div class="bm-product-recognized-container">
               <div class="bm-product-recognized-left">
                  <img src="{{product.metafields.bm_pdp.recognized_image | img_url:'master'}}" alt="">
               </div>
               <div class="bm-product-recognized-right">
                  {% if product.metafields.bm_pdp.recognized_text != blank %}
                  <h2>{{product.metafields.bm_pdp.recognized_text}}</h2>
                  {% endif %}
               </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="bm-product-content grid__item {{ product_description_width }}{% if product_image_type == 'stacked' %} product-single__sticky{% endif %}">
          <div class="product-single__meta">
            <div class="product-single__header small--text-center">
              {% if settings.vendor_enable %}
                <div class="product-single__vendor">
                  {{ product.vendor }}
                </div>
              {% endif %}

              {% if sku_enable %}
                <p class="product-single__sku" data-sku>
                  {% if current_variant.sku %}
                    {{ current_variant.sku }}
                  {% endif %}
                </p>
              {% endif %}

              {% if isModal %}
                <p class="h1 product-single__title bm-mobile-hide">
                  {{ product.title }}
                </p>
              {% else %}
                <h1 class="h1 product-single__title bm-mobile-hide">
                  {{ product.title }}
                </h1>
              {% endif %}
              {% if settings.enable_product_reviews == true %}
                {% unless product.metafields.bm_pdp.hide_pdp_main_review == true %}
                <div class="bm-product-review bm-mobile-hide">
                  <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" data-product-title="{{ product.title | escape }}" data-product-type="{{ product.type }}" style="display: block;" data-product-sku="{{ product.handle }}"></span>
                </div>
                {% endunless %}
              {% endif %}

              {% if product.metafields.bm_pdp.bm_short_description == true %}
                <div class="bm-short-description bm-mobile-hide">
                  <h2 class="bm-short-description-title ">
                    {{product.metafields.bm_pdp.bm_short_description_title}}
                  </h2>
                  
                  {% if product.metafields.bm_pdp.note_to_customer_text  %}
                  {% assign bm_new_note = product.metafields.bm_pdp.note_to_customer_text | split: '***' %}
                  <div class="bm-new-note-customers">
                    <span>{{bm_new_note.first}}
                    </span>
                    {{bm_new_note.last}}
                  </div>
                  {% endif %}

                  {% assign bm_short_description_details = product.metafields.bm_pdp.bm_short_description_details | split: '***' %}
                  {% for item in bm_short_description_details %}
                    {% assign itemcontent = item | split: '###' %}
                    <div class="bm-short-description-block">
                      <div class="bm-short-description-block-icon"></div>
                      <div class="bm-short-description-block-details">
                        <span>{{itemcontent.first}}
                        </span>
                        {{itemcontent.last}}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {%- endif -%}


              {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__policies rte">
                  <small>
                    {%- if shop.taxes_included -%}
                      {{ 'products.product.include_taxes' | t }}
                    {%- endif -%}
                    {%- if shop.shipping_policy.body != blank -%}
                      {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- endif -%}
                  </small>
                </div>
              {%- endif -%}

              {%- if inventory_enable or inventory_transfers_enable -%}
                {%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}

                <script>
                  // Store inventory quantities in JS because they're no longer
// available directly in JS when a variant changes.
// Have an object that holds all potential products so it works
// with quick view or with multiple featured products.
                  window.inventories = window.inventories || {};
                  window.inventories['{{section_id}}'] = {};{% for variant in variants_with_inventory_tracking %}window.inventories['{{section_id}}'][{{variant.id}}] = {
                      'quantity': {{ variant.inventory_quantity | default: 0 }},
                      'incoming': {{ variant.incoming | default: false | json }},
                      'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
                    };{% endfor %}
                </script>

                {%- assign inventory_visible = false -%}
                {% if inventory_enable and current_variant.inventory_management == 'shopify' %}
                  {%- if current_variant.inventory_quantity <= inventory_threshold and current_variant.inventory_quantity >= 0 -%}
                    {%- assign inventory_visible = true -%}
                  {%- endif -%}
                {% endif %}
                {% if current_variant.inventory_quantity == 0 %}
                  {%- assign inventory_visible = false -%}
                {% endif %}

                {%- if inventory_enable -%}
                  <p data-product-inventory class="product__inventory {% unless inventory_visible %}hide{% endunless %}">
                    {% if current_variant.available %}
                      {{ 'products.product.stock_label' | t: count: current_variant.inventory_quantity }}
                    {% endif %}
                  </p>
                {%- endif -%}

                {%- if inventory_transfers_enable -%}
                  <div data-product-incoming-inventory class="product__inventory{% if inventory_visible %} hide{% endif %}">
                    {%- if current_variant.incoming and inventory_visible == false -%}
                      {%- if current_variant.next_incoming_date -%}
                        {% assign date = current_variant.next_incoming_date | date: format: 'date' %}
                        {%- if current_variant.available -%}
                          {{ 'products.product.will_not_ship_until' | t: date: date }}
                        {%- else -%}
                          {{ 'products.product.will_be_in_stock_after' | t: date: date }}
                        {%- endif -%}
                      {%- else -%}
                        {{ 'products.product.waiting_for_stock' | t }}
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              {% endif %}
            </div>



            {% unless isModal %}
              {% comment %}
                Shopify's product form attaches a number of tracking
                scripts that cause slower load times and false statistics.
                Quick view modals request these on-demand.
              {% endcomment %}
              {% include 'bm-product-form-top',
                     section_id: section_id,
                     variant_type: variant_type,
                     variant_labels_enable: variant_labels_enable,
                     quantity_enable: quantity_enable,
                     enable_payment_button: enable_payment_button
                   %}
            {% else %}
              <div id="ProductFormPlaceholder-{{ section_id }}" data-url="{{ product.url | within: collection }}" data-template="{{ product.template_suffix }}" class="product-form-holder">
                {% if product.options.size > 0 %}
                  {% for i in (1..product.options.size) %}
                    <div class="placeholder-content" style="min-height: 86px; max-width: 66%;"></div>
                  {% endfor %}
                {% endif %}
                <div class="placeholder-content" style="min-height: 86px;"></div>
              </div>
            {% endunless %}

            {% if product.metafields.bm_pdp.bm_short_description == true %}
              <div class="bm-short-description bm-desktop-hide">
                <h2 class="bm-short-description-title bm-mobile-hide">
                  {{product.metafields.bm_pdp.bm_short_description_title}}
                </h2>

                {% if product.metafields.bm_pdp.note_to_customer_text  %}
                {% assign bm_new_note = product.metafields.bm_pdp.note_to_customer_text | split: '***' %}
                <div class="bm-new-note-customers">
                  <span>{{bm_new_note.first}}
                  </span>
                  {{bm_new_note.last}}
                </div>
                {% endif %}

                {% assign bm_short_description_details = product.metafields.bm_pdp.bm_short_description_details | split: '***' %}
                {% for item in bm_short_description_details %}
                  {% assign itemcontent = item | split: '###' %}
                  <div class="bm-short-description-block">
                    <div class="bm-short-description-block-icon"></div>
                    <div class="bm-short-description-block-details">
                      <span>{{itemcontent.first}}
                      </span>
                      {{itemcontent.last}}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {%- endif -%}

            {% if product.metafields.bm_pdp.bm_show_carnberry_testimonial == true %}
              <div class="bm-product-testimonial">
                <p class="bm-product-testimonial-text">
                  {{product.metafields.bm_pdp.bm_carnberry_testimonial_text}}
                </p>
                <div class="bm-product-testimonial-review">
                  <h2>{{product.metafields.bm_pdp.bm_carnberry_testimonial_name}}
                  </h2>
                  {% if product.metafields.bm_pdp.bm_testimonial_image != blank %}
                    <div class="bm-product-testimonial-review-img">
                      <img src="{{ product.metafields.bm_pdp.bm_testimonial_image | img_url:'master' }}" alt="">
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}

            <div class="bm-product-image-bottom-mobile">
              {% render 'bm-product-image-bottom' %}
            </div>


            {% comment %}
              {% if settings.additional_content_style == 'expandable' %}
              {% include 'product-additional-content', section_id: section_id %}
              {% else %}
              {% include 'product-additional-tabs', section_id: section_id %}
              {% endif %}
            {% endcomment %}

            {% if social_enable %}
              {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<style>
  .product-single__prices.bm-sale-available {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .bm-you-save {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #008000;
    font-family: Lato, sans-serif;
    display: inline-block;
    margin: 10px 0;
  }

  .sale-price {
    margin-right: 15px;
  }

  .product-single__prices > * {
    padding-right: 0;
  }

  @media only screen and (max-width: 768px) {
    .bm-you-save {
      font-weight: 400;
      font-size: 18.66px;
    }

    .sale-price {
      margin-right: 0;
    }

    .product-single__prices.bm-sale-available {
      align-items: center;
    }
  }
</style>

