<div class="bm-review-main" id="reviews">
  <div class="tabs-box">

    <div class="tabs-main">

      <ul class="nav nav-pills" id="pills-tab" role="tablist">

        {% if product.metafields.bm_pdp.enable_review_section == true %}
          <li class="nav-item review-tab">
            <a class="nav-link active" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">
              {{product.metafields.bm_pdp.review_section_heading}}
            </a>
          </li>
        {% endif %}
        {% if product.metafields.bm_pdp.enable_cranberry_pac_usage == true %}
          <li class="nav-item">
            <a class="nav-link" id="pills-usage-tab" data-toggle="pill" href="#pills-usage" role="tab" aria-controls="pills-usage" aria-selected="true">
              {{product.metafields.bm_pdp.cranberry_pac_label_heading}}
            </a>
          </li>
        {% endif %}
        {% if product.metafields.bm_pdp.enable_cranberry_ingredients == true %}
          <li class="nav-item">
            <a class="nav-link" id="pills-ingred-tab" data-toggle="pill" href="#pills-ingred" role="tab" aria-controls="pills-ingred" aria-selected="false">
              {{product.metafields.bm_pdp.cranberry_ingredients_heding}}
            </a>
          </li>
        {% endif %}
        {% if product.metafields.bm_pdp.enable_bm_faqs == true %}
          <li class="nav-item">
            <a class="nav-link" id="pills-fa-tab" data-toggle="pill" href="#pills-fa" role="tab" aria-controls="pills-fa" aria-selected="false">
              {{product.metafields.bm_pdp.bm_faqs_heading}}
            </a>
          </li>
        {% endif %}
        


      </ul>
      <div class="tab-content" id="pills-tabContent">

        {% if product.metafields.bm_pdp.enable_cranberry_pac_usage == true %}
          <div class="tab-pane fade" id="pills-usage" role="tabpanel" aria-labelledby="pills-usage-tab">
            <div class="sections-wrapper page-blocks">
              <div class="index-section">
                <div class="page-width text-image-column" id="block-id-7b6b3e91-f4d7-4c5d-b56c-50b241aa094f" data-aos>
                  {% if product.metafields.bm_pdp.bundle_label_desc != blank %}
                    {% render 'bm-product-pills-usage-slider' %}
                  {% else %}
                    {% render 'bm-product-pills-usage' %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if product.metafields.bm_pdp.enable_cranberry_ingredients == true %}
          <div class="tab-pane fade" id="pills-ingred" role="tabpanel" aria-labelledby="pills-ingred-tab">
            <div class="page-width">
              {% if product.metafields.bm_pdp.bundle_ingred_desc != blank %}
                {% render 'bm-product-pills-ingred-slider' %}
              {% else %}
                {% render 'bm-product-pills-ingred' %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if product.metafields.bm_pdp.enable_review_section == true %}
          <div class="tab-pane fade active show" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
            <div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>
          </div>
        {% endif %}
        {% if product.metafields.bm_pdp.enable_bm_faqs == true %}
          <div class="tab-pane fade" id="pills-fa" role="tabpanel" aria-labelledby="pills-fa-tab">
            <div class="page-width">
              <div class="bm-faq-content" id="bm_faq_content"></div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="bm-mobile-accordion-section">
    <div class="bm-mobile-accordion" id="bm-reviews-acc-mobile">
      {% if product.metafields.bm_pdp.enable_review_section == true %}
        <h2 class="bmproaccordion">{{product.metafields.bm_pdp.review_section_heading}}
        </h2>
        <div class="bmproaccordion_Content">
          <div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>
        </div>
      {% endif %}
    </div>
    <div class="bm-mobile-accordion">
      {% if product.metafields.bm_pdp.enable_cranberry_pac_usage == true %}
        <h2 class="bmproaccordion">{{product.metafields.bm_pdp.cranberry_pac_label_heading}}
        </h2>

        <div class="bmproaccordion_Content">
          {% if product.metafields.bm_pdp.bundle_label_desc != blank %}
            {% render 'bm-product-pills-usage-slider' %}
          {% else %}
            {% render 'bm-product-pills-usage' %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="bm-mobile-accordion">
      {% if product.metafields.bm_pdp.enable_cranberry_ingredients == true %}
        <h2 class="bmproaccordion">{{product.metafields.bm_pdp.cranberry_ingredients_heding}}
        </h2>

        <div class="bmproaccordion_Content">
          {% if product.metafields.bm_pdp.bundle_ingred_desc != blank %}
            {% render 'bm-product-pills-ingred-slider' %}
          {% else %}
            {% render 'bm-product-pills-ingred' %}
          {% endif %}
        </div>
      {% endif %}
    </div>
    {% if product.metafields.bm_pdp.enable_bm_faqs == true %}
      <div class="bm-mobile-accordion">
        <h2 class="bmproaccordion">{{product.metafields.bm_pdp.bm_faqs_heading}}
        </h2>
        <div class="bmproaccordion_Content">
          <div class="bm-faq-content" id="bm_faq_content_mobile"></div>
        </div>
      </div>
    {% endif %}
  </div>
</div>




<style>
  html {
		scroll-behavior: smooth;
		scroll-padding-top: 100px;
	}
  .bm-h-auto {
    height: auto;
  }
  .Pdp-faq-main-content {
    display: flex;
  }
  .Utiva_Cranberry_PACs_left {
    margin-right: 40px;
  }
  .Pdp-faq-main {
    padding: 0 40px;
  }
  .bm-faq-content p.h2 {
    display: none;
  }
  .bm-faq-content {
    padding: 40px 40px 0;
  }

  .tab-content > .tab-pane {
    display: block !important;
    height: 0;
    overflow: hidden;
  }
  .tab-pane.fade.show.active {
    display: block !important;
    height: auto;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 40px;
  }

  
  @media only screen and (max-width: 768px) {

    #bm_faq_content {
      display: none;
    }
    #bm_faq_content_mobile p.h2 {
      display: none;
    }
    #bm_faq_content_mobile .Pdp-faq-main-content {
      display: block;
    }
    .Pdp-faq-main {
      padding: 0;
    }
    .Utiva_Cranberry_PACs_left {
      margin-right: 0;
    }
  }
</style>
