{% assign product1_comp = 0 %}	
{% assign product2_comp = 0 %}	
{% assign product3_comp = 0 %}

<div class="bm-stronger-together">
  
  <div class="bm-stronger-together-single">
    
    {% assign productone = all_products[product.metafields.bm_pdp.bm_stronger_productone_handle] %}
    {% if productone != blank %}
    <div class="bm-Product-img">
      {{section.settingsbm_productone_handle}}
      <img src="{{ productone.featured_image | img_url:'master' }}" />
    </div>
    <div class="bm-product__title">
      <label class="bm-product__title-container">
        <input type="checkbox" checked="checked" class="bm-product-id-check-moba" data-id="{{ productone.variants.first.id}}" data-regular-price="{{ productone.price | money }}" data-save-price="{{ productone.compare_at_price | minus: productone.price |money }}">
        <span class="bm-product__title-checkmark"></span>
        {{ productone.title }}
      </label>

    </div>
    <div class="bm-product-description">{{product.metafields.bm_pdp.bm_productone_description}}</div>
    <div class="bm-product-stronger-price">
      <div class="grid-product__price mb-2 mt-2">
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        {% if productone.compare_at_price > 0 %}
        <del class="bm-product-stronger-price-del">{{ productone.compare_at_price | money }}</del>
        {% endif %}
        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
        <span class="bm-product-stronger-price-main">
          from {{ productone.price  | money }} 
        </span>
      </div>
      {% if productone.compare_at_price > 0 %}
      {% assign product1_comp = productone.compare_at_price | minus: productone.price %}
      <div class="bm-product-stronger-price-save">{{product1_comp | money}}</div>
      {% endif %}
    </div>
    <div class="bm-product-stronger-review">
      <span class=" stamped-product-reviews-badge" data-id="{{ productone.id }}" data-product-title="{{productone.title}}" data-product-type="{{productone.type}}" style="display:block;" data-product-sku="{{ productone.handle }}"></span>
    </div> 
    {% endif %}
  </div>
  <div class="bm-stronger-together-single">
    {% assign producttwo = all_products[product.metafields.bm_pdp.bm_stronger_producttwo_handle] %}
    {% if producttwo != blank %}
    <div class="bm-Product-img">
      <img src="{{ producttwo.featured_image | img_url:'master' }}" />
    </div>
    <div class="bm-product__title">
      <label class="bm-product__title-container">
        <input type="checkbox" class="bm-product-id-check-moba" data-id="{{ producttwo.variants.first.id}}" data-regular-price="{{ producttwo.price | money }}" data-save-price="{{ producttwo.compare_at_price | minus: producttwo.price |money }}">
        <span class="bm-product__title-checkmark"></span>
        {{ producttwo.title }}
      </label>


    </div>
    <div class="bm-product-description">{{product.metafields.bm_pdp.bm_producttwo_description}}</div>
    <div class="bm-product-stronger-price">
      <div class="grid-product__price mb-2 mt-2">
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        {% if producttwo.compare_at_price > 0 %}
        <del class="bm-product-stronger-price-del">{{ producttwo.compare_at_price | money }}</del>
        {% endif %}
        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
        <span class="bm-product-stronger-price-main">
          from {{ producttwo.price  | money }} 
        </span>
      </div>
      {% if producttwo.compare_at_price > 0 %}
      {% assign product2_comp = producttwo.compare_at_price | minus: producttwo.price %}	
      <div class="bm-product-stronger-price-save">{{product2_comp | money}}</div>
      {% endif %}
    </div>
    <div class="bm-product-stronger-review">
      <span class=" stamped-product-reviews-badge" data-id="{{ producttwo.id }}" data-product-title="{{producttwo.title}}" data-product-type="{{producttwo.type}}" style="display:block;" data-product-sku="{{ producttwo.handle }}"></span>
    </div>
    {% endif %}
  </div>
  <div class="bm-stronger-together-single">
    {% assign productthree = all_products[product.metafields.bm_pdp.bm_stron_productthree_handle] %}
    {% if productthree != blank %}
    <div class="bm-Product-img">
      <img src="{{ productthree.featured_image | img_url:'master' }}" />
    </div>
    <div class="bm-product__title">
      <label class="bm-product__title-container">
        <input type="checkbox" class="bm-product-id-check-moba" data-id="{{ productthree.variants.first.id}}" data-regular-price="{{ productthree.price | money }}" data-save-price="{{ productthree.compare_at_price | minus: productthree.price |money }}">
        <span class="bm-product__title-checkmark"></span>
        {{ productthree.title }}
      </label>

    </div>
    <div class="bm-product-description">{{product.metafields.bm_pdp.bm_productthree_description}}</div>
    <div class="bm-product-stronger-price">
      <div class="grid-product__price mb-2 mt-2">
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        {% if productthree.compare_at_price > 0 %}
        <del class="bm-product-stronger-price-del">{{ productthree.compare_at_price | money }}</del>
        {% endif %}
        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
        <span class="bm-product-stronger-price-main">
          from {{ productthree.price  | money }} 
        </span>
      </div>
      {% if productthree.compare_at_price > 0 %}
      {% assign product3_comp = productthree.compare_at_price | minus: productthree.price %}	
      <div class="bm-product-stronger-price-save">{{product3_comp | money}}</div>
      {% endif %}
    </div>
    <div class="bm-product-stronger-review">
      
      <span class=" stamped-product-reviews-badge" data-id="{{ productthree.id }}" data-product-title="{{productthree.title}}" data-product-type="{{productthree.type}}" style="display:block;" data-product-sku="{{ productthree.handle }}"></span>
    </div>
    {% endif %}
  </div>
  <div class="bm-stronger-together-single">
    <div class="bm-stronger-together-single-details">
      <h2>Total Price</h2>
      <p>of selected items</p>
      {% assign bm_total_price = productone.price | money %}	
      {% assign bm_total_saving = product1_comp %}	
      	
      <div class="bm-stronger-price">	
        <h3 class="bm-bundle-price-moba">{{bm_total_price}}</h3>	
        <h2 class="bm-bundle-saving-moba">{% if bm_total_saving > 0 %}You Save {{bm_total_saving | money}}{% endif %}</h2>	
      </div>
      <button class="bm-add-to-cart-moba btn btn--full add-to-cart">
        <span>Add To Cart</span>
      </button>
    </div>

  </div>
</div>