{{ 'header-hover.js' | asset_url | script_tag }}
{{ 'header-desktop.css' | asset_url | stylesheet_tag }}

<div class='header-desktop'>
	<div class='header-desktop__info'>
		<nav
			class='header-desktop__nav'
		>
			{% for link in mob_menu.links %}
				<div
					class='header-desktop__nav--item'
				>
					{% if link.links.size > 0 %}
						<div class='header-desktop__overlay'></div>

						<a
							href='{{ link.url }}'
							class='header-desktop__nav--link'
						>
							{{ link.title }}
						</a>

					{% else %}
						<a
							href='{{ link.url }}'
							class='header-desktop__nav--link'
						>
							{{ link.title }}
						</a>
					{% endif %}

					{% liquid
						if link.links.size > 0
							render 'header-desktop-mega-menu', parent_link: link, collection: collection, mega_menu_blocks: mega_menu_blocks
						endif
					%}
				</div>
			{% endfor %}
		</nav>

		<div class='header-desktop__logo'>
			<a href='{{ shop.url }}'>
				{% if logo and header_logo_desk != blank %}
					{{
						logo
						| image_url: width: logo.width
						| image_tag:
							loading: 'lazy',
							width: logo.width,
							height: logo.height,
							sizes: '10vw',
							class: 'header-desktop__logo--img logo-1',
							widths: '200'
					}}

					{{
						header_logo_desk
						| image_url: width: header_logo_desk.width
						| image_tag:
							loading: 'lazy',
							width: header_logo_desk.width,
							height: header_logo_desk.height,
							sizes: '10vw',
							class: 'header-desktop__logo--img logo-2',
							widths: '200'
					}}

				{% else %}
					<a href='{{ shop.url }}'> {{ shop.name }}</a>
				{% endif %}
			</a>
		</div>

		<div class='header-desktop__icons'>
			<div
				class='header-desktop__icons--toggle-track'
			>
				<span class='header-desktop__icons--toggle-track--before'>
					{{- toggle_text_before -}}
				</span>
				{% comment %} <a href='{{toggle_url}}'> {% endcomment %}
				<label class='toggle' for='header-desk__toggle'>
					<input
						type='checkbox'
						class='toggle__input'
						id='header-desk__toggle'
						checked
					>
					<span class='toggle-track'>
						<span class='toggle-indicator'></span>
					</span>
				</label>
				{% comment %} </a> {% endcomment %}
				<span class='header-desktop__icons--toggle-track--after'>
					{{- toggle_text_after -}}
				</span>
			</div>

			<a href='' class='header-desktop__icons--hover'> {% render 'icon', icon: 'account-32' %}</a>

			<a href='' class='header-desktop__icons--hover'> {% render 'icon', icon: 'magnifier-32' %}</a>
			<a href='' class='header-desktop__icons--hover'> {% render 'icon', icon: 'cart-32' %}</a>
		</div>
	</div>
</div>
