{{ 'header-mobile.css' | asset_url | stylesheet_tag }}
{{ 'header-mobile.js' | asset_url | script_tag }}

<div class='header-mob {% if template.name == "product" %} hovered-perma {% endif %}'>
	<div class='header-mob__info'>
		<button class='data-menu-button' id='menuButton'>
			<div class='menu-btn__icon-burger--open'>
				{% render 'icon', icon: 'burger-32' %}
			</div>

			<div class='menu-btn__icon-burger--close'>
				{% render 'icon', icon: 'close-32' %}
			</div>
		</button>
		<div class='header-mob__info--logo'>
			<a href='{{ shop.url }}'>
				{% if logo != blank %}
					{% if template.name == "product" %}
						<img src="//utiva-usa.myshopify.com/cdn/shop/files/logo_color.png?v=1689865437&amp;width=223" alt="" srcset="//utiva-usa.myshopify.com/cdn/shop/files/logo_color.png?v=1689865437&amp;width=200 200w" width="223" height="144" loading="lazy" sizes="10vw" class="header-desktop__logo--img logo-2 !max-w-none !max-h-none !w-[76px] !block">
					{% else %}
					{{
						logo
						| image_url: width: logo.width
						| image_tag:
							loading: 'lazy',
							width: logo.width,
							height: logo.height,
							sizes: '10vw',
							class: 'header-mob__info--logo-img',
							widths: '200'
					}}
					{% endif %}
				{% else %}
					<a href='{{ shop.url }}'> {{ shop.name }}</a>
				{% endif %}
			</a>
		</div>

		<div class='header-mob__info--icons flex gap-1'>
			<a href="/account">
				{% render 'icon', icon: 'account-32' %}
			</a>
			<a href="javascipt:void()" onclick="document.querySelector('#cart-icon-bubble').click();">
			{% render 'icon', icon: 'cart-32' %}
			</a>
		</div>

		{% render 'header-mob-drawer',
			logo: logo,
			menu: mob_menu,
			mega_menu_blocks: mega_menu_blocks,
			toggle: toggle,
			toggle_url: toggle_url,
			toggle_text_before: toggle_text_before,
			toggle_text_after: toggle_text_after
		%}
	</div>
</div>
