<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}


{{ 'header-hover.js' | asset_url | script_tag }}
{{ 'header-desktop.css' | asset_url | stylesheet_tag }}

<div class='header-desktop  hovered-perma'>
	<div class='header-desktop__info'>
		<nav
			class='header-desktop__nav'
		>
			{% for link in mob_menu.links %}
				<div
					class='header-desktop__nav--item'
				>
					{% if link.links.size > 0 %}
						<div class='header-desktop__overlay'></div>

						<a
							href='{{ link.url }}'
							class='header-desktop__nav--link'
						>
							{{ link.title }}
						</a>

					{% else %}
						<a
							href='{{ link.url }}'
							class='header-desktop__nav--link'
						>
							{{ link.title }}
						</a>
					{% endif %}

					{% liquid
						if link.links.size > 0
							render 'header-desktop-mega-menu', parent_link: link, collection: collection, mega_menu_blocks: mega_menu_blocks
						endif
					%}
				</div>
			{% endfor %}
		</nav>

		<div class='header-desktop__logo'>
			<a href='/'>
				{% if logo and header_logo_desk != blank %}
					{{
						logo
						| image_url: width: logo.width
						| image_tag:
							loading: 'lazy',
							width: logo.width,
							height: logo.height,
							sizes: '10vw',
							class: 'header-desktop__logo--img logo-1',
							widths: '200'
					}}

					{{
						header_logo_desk
						| image_url: width: header_logo_desk.width
						| image_tag:
							loading: 'lazy',
							width: header_logo_desk.width,
							height: header_logo_desk.height,
							sizes: '10vw',
							class: 'header-desktop__logo--img logo-2',
							widths: '200'
					}}

				{% else %}
					<a href='/'> {{ shop.name }}</a>
				{% endif %}
			</a>
		</div>

		<div class='header-desktop__icons'>
			<div
				class='header-desktop__icons--toggle-track'
			>
				<span class='header-desktop__icons--toggle-track--before'>
					{{- toggle_text_before -}}
				</span>
				{% comment %} <a href='{{toggle_url}}'> {% endcomment %}
				<label class='toggle' for='header-desk__toggle'>
					<input
						type='checkbox'
						class='toggle__input {{ localization.language.iso_code }}'
						id='header-desk__toggle'
						{% if localization.language.iso_code == "fr" %}
							checked
						{% endif %}
					>
					<span class='toggle-track'>
						<span class='toggle-indicator'></span>
					</span>
				</label>
				{% comment %} </a> {% endcomment %}
				<span class='header-desktop__icons--toggle-track--after'>
					{{- toggle_text_after -}}
				</span>
			</div>
			

			<a href='/account' class='header-desktop__icons--hover'> {% render 'icon', icon: 'account-32' %}</a>

			<a href='/search' class='header-desktop__icons--hover'> {% render 'icon', icon: 'magnifier-32' %}</a>
			<a href='javascript:void()' class='header-desktop__icons--hover relative' id="cart-icon-bubble"> {% render 'icon', icon: 'cart-32' %}
				<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
				{%- if cart != empty -%}
					<div class="cart-count-bubble">
						{%- if cart.item_count < 100 -%}
							<span aria-hidden="true">{{ cart.item_count }}</span>
						{%- endif -%}
						<span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
					</div>
				{%- endif -%}
			</a>
		</div>
	</div>
</div>
