{%- assign newsletter_form_id = 'newsletter-' | append: section_id -%}
<!-- <form class="omnisend-subscribe-form"> -->
{% form 'customer', id: newsletter_form_id %}
  {% if form.posted_successfully? %}
    <div class="note note--success text-lg">
      {{ 'general.newsletter_form.newsletter_confirmation' | t }}
    </div>
  {% endif %}

  {%- unless form.posted_successfully? -%}
    <label for="Email-{{ section_id }}" class="hidden-label">
      {{ 'general.newsletter_form.newsletter_email' | t }}
    </label>
    <input
      type="hidden"
      name="contact[tags]"
      value="prospect,newsletter">
    <input
      type="hidden"
      name="contact[context]"
      value="{{ snippet_context }}">
    <div class="input-new">
      <div class="input-new__container">
        <div class="klaviyo-form-Xn8CYh"></div>
      </div>
    </div>
    {% if form.errors and form.context == snippet_context %}
      {{ form.errors | default_errors }}
    {% endif %}

  {%- endunless -%}
{% endform %}
<!-- </form> -->