<div class="bm-3-ways-this-uti-main-container page-width">
  <div class="bm-3-ways-this-uti-main-heading"><h1>{{ section.settings.bm_3_ways_this_uti_main_heading }}</h1></div>
  <div class="bm-3-ways-this-uti-main">
    <div class="bm-3-ways-this-uti-row1">
      <div class="bm-3-ways-this-uti-heading-img-parent-div1">
        <div class="bm-3-ways-this-uti-heading1"><h2>{{ section.settings.bm_3_ways_this_uti_heading1 }}</h2></div>
        <div class="bm-3-ways-this-uti-img1"><img src="{{ section.settings.bm_3_ways_this_uti_img1 | img_url: 'master' }}" alt="{{ section.settings.bm_3_ways_this_uti_img1.alt | escape }}"></div>
      </div>
      <div class="bm-3-ways-this-uti-para1">{{ section.settings.bm_3_ways_this_uti_para1 }}</div>
    </div>
    <div class="bm-3-ways-this-uti-row2">
      <div class="bm-3-ways-this-uti-para2">{{ section.settings.bm_3_ways_this_uti_para2 }}</div>
      <div class="bm-3-ways-this-uti-heading-img-parent-div2">
        <div class="bm-3-ways-this-uti-img2"><img src="{{ section.settings.bm_3_ways_this_uti_img2 | img_url: 'master' }}" alt="{{ section.settings.bm_3_ways_this_uti_img2.alt | escape }}"></div>
        <div class="bm-3-ways-this-uti-heading2"><h2>{{ section.settings.bm_3_ways_this_uti_heading2 }}</h2></div>
      </div>
    </div>
    <div class="bm-3-ways-this-uti-row3">
      <div class="bm-3-ways-this-uti-heading-img-parent-div3">
        <div class="bm-3-ways-this-uti-heading3"><h2>{{ section.settings.bm_3_ways_this_uti_heading3 }}</h2></div>
        <div class="bm-3-ways-this-uti-img3"><img src="{{ section.settings.bm_3_ways_this_uti_img3 | img_url: 'master' }}" alt="{{ section.settings.bm_3_ways_this_uti_img3.alt | escape }}"></div>
      </div>
      <div class="bm-3-ways-this-uti-para3">{{ section.settings.bm_3_ways_this_uti_para3 }}</div>
    </div>
  </div>
</div>



<style>

  html body .bm-3-ways-this-uti-main-container {
    padding:40px 30px;
  }


  html body .bm-3-ways-this-uti-main-container img {
    width:115px;
    min-width:115px;
  }
  
  html body .bm-3-ways-this-uti-main-heading {
    display: block;
    text-align: center;
    padding-bottom:50px;
  }

  html body .bm-3-ways-this-uti-main-heading h1 {
    font-family:'Nunito';
    font-weight:bolder;
    font-size:45px;
    color:#d9202c;
  }

  html body .bm-3-ways-this-uti-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
  }

  html body .bm-3-ways-this-uti-heading-img-parent-div1 {
    display: flex;
    align-items: center;
    width:50%;
    border-right: 3px solid #87cdc7;
  }
  
  html body .bm-3-ways-this-uti-heading1 {
    margin-left:100px;
    flex:1;
  }
  

  html body .bm-3-ways-this-uti-heading1 h2 {
    font-family:'Nunito';
    font-weight:bolder;
    font-size:29px;
    color:#d9202c;
  }
  
  html body .bm-3-ways-this-uti-img1 {
     margin-right:65px;
  }

  html body .bm-3-ways-this-uti-para1 {
    font-family: 'Kometa-Book';
    font-size:17.35px;
    width:50%;
    padding-left:50px;
  }
  
  html body .bm-3-ways-this-uti-para1 p{
    margin:0;
    max-width:450px;
    margin-right:auto;
  }

  html body .bm-3-ways-this-uti-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
  }
  
   html body .bm-3-ways-this-uti-para2 {
    font-family: 'Kometa-Book';
    font-size:17.35px;
    width:50%;
    border-right: 3px solid #87CDC7
     

  }
  
  html body .bm-3-ways-this-uti-para2 p {
    margin:0;
    max-width:450px;
    margin-left:auto;
    padding-right:50px;
    
  }

  html body .bm-3-ways-this-uti-heading-img-parent-div2 {
    display: flex;
    width:50%;
    align-items:center;
  }
  
   html body .bm-3-ways-this-uti-img2 {
     margin-left:65px;
  }
  
   html body .bm-3-ways-this-uti-heading2 {
       padding-left:50px;
     flex:1;
     
  }

  html body .bm-3-ways-this-uti-heading2 h2 {
    font-family:'Nunito';
    font-weight:bolder;
    font-size:29px;
    color:#d9202c;
  }

 

  html body .bm-3-ways-this-uti-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
  }

  html body .bm-3-ways-this-uti-heading-img-parent-div3 {
    display: flex;
    width:50%;
    border-right: 3px solid #87cdc7;
    align-items:center;
  }
  
   html body .bm-3-ways-this-uti-heading3 {
     margin-left:200px;
     flex:1;
  }

  html body .bm-3-ways-this-uti-heading3 h2 {
    font-family:'Nunito';
    font-weight:bolder;
    font-size:29px;
    color:#d9202c;
  }
  
  
  html body .bm-3-ways-this-uti-img3 {
     margin-right:65px;
  }

  html body .bm-3-ways-this-uti-para3 {
    font-family: 'Kometa-Book';
    font-size:17.35px;
    width:50%;
    padding-right:50px;
  }
  
  html body .bm-3-ways-this-uti-para3 p {
    margin:0;
    max-width:450px;
    margin-right: auto;
    padding-left: 50px;
  }
  
  
  
  @media only screen and (max-width: 967px) {
    
    html body .bm-3-ways-this-uti-heading1 {
      margin-left:50px;
    }
    
    html body .bm-3-ways-this-uti-heading3 {
      margin-left:150px;
    }
  }
  
   @media only screen and (max-width: 867px) {
    
    html body .bm-3-ways-this-uti-heading1 {
      margin-left:0px;
    }
    
    html body .bm-3-ways-this-uti-heading3 {
      margin-left:0px;
    }
  }
  
  
  
  @media only screen and (max-width: 768px) {
    
    html body .bm-3-ways-this-uti-main-container {
      padding:40px 10px;
    }
    
    
    html body .bm-3-ways-this-uti-row1 {
      flex-direction:column;
    }
    
    html body .bm-3-ways-this-uti-main-heading h1 br {
    display: none;
    }
    
    html body .bm-3-ways-this-uti-heading-img-parent-div1 {
      padding-left:0;
      border-right:none;
      flex-direction:column;
      width:auto;
    }
    
    html body .bm-3-ways-this-uti-img1 {
      order:1;
      margin-right:0px;
    }
    
    html body .bm-3-ways-this-uti-heading1 {
      order:2;
      padding-left:0;
      text-align:center;
    }
    
    .bm-3-ways-this-uti-heading1 br {
    display: none;
    }
    
    html body .bm-3-ways-this-uti-para1 {
      padding-left:0;
      width:100%
      
    }
    
    html body .bm-3-ways-this-uti-para1 p {
      padding-left:0;
      text-align:center;
      max-width:unset;
    }
    
    
    html body .bm-3-ways-this-uti-row2 {
      flex-direction:column;
    }
    
    html body .bm-3-ways-this-uti-heading-img-parent-div2 {
      padding-right:0;
      border-left:none;
      order:1;
      flex-direction:column;
      width:auto;
    }
    
    html body .bm-3-ways-this-uti-para2 {
      order:3;
      text-align:center;
      padding-right:0;
      width:100%;
      border-right: none;
    }
    
    html body .bm-3-ways-this-uti-para2 p {
      padding-right:0px;
      margin-right:auto;
       max-width:unset;
      
    }
    
    html body .bm-3-ways-this-uti-img2 {
      order:1;
      margin-left:0;
    }
    
    html body .bm-3-ways-this-uti-heading2 {
      order:3;
      padding-left:0;
      text-align:center;
    }
    
    .bm-3-ways-this-uti-heading2 br {
    display: none;
    }
    
    html body .bm-3-ways-this-uti-row3 {
      flex-direction:column;
    }
    
    html body .bm-3-ways-this-uti-heading-img-parent-div3 {
      padding-left:0;
      border-right:none;
      flex-direction:column;
      width:auto;
    }
    
    html body .bm-3-ways-this-uti-img3 {
      order:1;
      margin-right:0px;
    }
    
    html body .bm-3-ways-this-uti-heading3 {
      order:2;
      padding-left:0;
      margin-left:0;
      text-align:center;
    }
    
    .bm-3-ways-this-uti-heading3 br {
    display: none;
     }
    
    html body .bm-3-ways-this-uti-para3 {
      padding-left:0;
      padding-right:0;
      width:100%
    }
    
    html body .bm-3-ways-this-uti-para3 p {
      padding-left:0;
      text-align:center;
      max-width:unset;
    }
  }  
      
</style>






{% schema %}
  {
    "name": "3 Ways This UTI",
    "settings": [
	  {
        "type": "text",
        "id": "bm_3_ways_this_uti_main_heading",
        "label": "Heading Text"
      },
      {
        "type": "text",
        "id": "bm_3_ways_this_uti_heading1",
        "label": "Text"
      },
	  {
        "type": "image_picker",
        "id": "bm_3_ways_this_uti_img1",
        "label": "Image"
      },
      {
        "type": "richtext",
        "id": "bm_3_ways_this_uti_para1",
        "label": "Text"
      },
      {
        "type": "richtext",
        "id": "bm_3_ways_this_uti_para2",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "bm_3_ways_this_uti_img2",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "bm_3_ways_this_uti_heading2",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "bm_3_ways_this_uti_heading3",
        "label": "Text"
      },
	  {
        "type": "image_picker",
        "id": "bm_3_ways_this_uti_img3",
        "label": "Image"
      },
      {
        "type": "richtext",
        "id": "bm_3_ways_this_uti_para3",
        "label": "Text"
      }
    ]
  }
{% endschema %}
    
