<div class="bm-collection-review">
  <div class="page-width">
    <div class="bm-collection-review-main">
      {% if section.settings.bm_collection_review_title != blank %}
      <h2 class="bm-collection-review-tittle">{{section.settings.bm_collection_review_title}}</h2>
      {% endif %}
      <div class="bm-collection-review-bottom">
        {% for block in section.blocks %}
        <div class="bm-collection-review-bottom-block">
          <div>
          <div class="bm-collection-review-block-img">
            {% if block.settings.bm_collection_review_block_img != blank %}
            <img src="{{block.settings.bm_collection_review_block_img | img_url:"master"}}">
            {% endif %}
          </div>
          <div class="bm-collection-review-img">
            {% if section.settings.bm_collection_review_img != blank %}
            <img src="{{section.settings.bm_collection_review_img | img_url:"master"}}">
            {% endif %}
          </div>
          <div class="bm-collection-review-content">
            {% if block.settings.bm_review_content_title != blank %}
            <h2>{{block.settings.bm_review_content_title}}</h2>
            {% endif %}
            {% if block.settings.bm_review_content_description != blank %}
            <p>{{block.settings.bm_review_content_description}}</p>
            {% endif %}
          </div>
          </div>
          <div class="bm-collection-review-bottom-content">
            {% if block.settings.bm_review_bottom_content_title != blank %}
            <h2>{{block.settings.bm_review_bottom_content_title}}</h2>
            {% endif %}
            {% if block.settings.bm_review_bottom_content_description != blank %}
            <p>{{block.settings.bm_review_bottom_content_description}}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="bm-collection-review-rate">
        <p>4.8</p>
        <div class="bm-collection-review-rate-img" >
          <img src="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Category_page-02.png?v=1651402602"/>
        </div>
        <p>2,783+ Reviews</p>
      </div>
      
      <div class="bm-collection-review-btn">
        <a href="{{section.settings.bm_collection_button_link}}">
          {{section.settings.bm_collection_button_text}}
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Bm Collection Review",
    "settings": [
        {
          "type": "text",
          "id": "bm_collection_review_title",
          "label": "Heading"
        },
        {
            "type": "image_picker",
            "id": "bm_collection_review_img",
            "label": "Image"
         },
        {
            "type": "text",
            "id": "bm_collection_button_text",
            "label": "Button Text"
         },
        {
            "type": "url",
            "id": "bm_collection_button_link",
            "label": "Button Link"
         }
       
	],
	"blocks": [
     {
       "name": "articles",
       "type": "text",
       "settings": [
		 
		 {
            "type": "image_picker",
            "id": "bm_collection_review_block_img",
            "label": "Image"
         },
         {
          "type": "text",
          "id": "bm_review_content_title",
          "label": "Text"
        },
		{
            "type": "textarea",
            "id": "bm_review_content_description",
            "label": "Discription"
         },
         {
          "type": "text",
          "id": "bm_review_bottom_content_title",
          "label": "Text"
        },
        {
            "type": "textarea",
            "id": "bm_review_bottom_content_description",
            "label": "Discription"
         }
       ]
     }
   ]
    
  }
{% endschema %}

