<div class="bm-discount-code-form">
  <div class="bm-discount-code-container">
    <div class="bm-discount-code-form-main">
      {% if section.settings.bm_discount_code_percent %}
      <div class="bm-discount-code-img bm-destop-img">
        <div class="bm-discount-code-percnet">
          <div class="bm-discount-code-percnet-first">
            <svg xmlns="http://www.w3.org/2000/svg" width="219" height="102" viewBox="0 0 219 102" fill="none">
            <path d="M218.413 96.9836H50.9395C25.5956 96.9836 4.97169 76.4631 4.97169 51.2462C4.97169 26.0294 25.5956 5.50886 50.9395 5.50886H218.413V0.562103H50.9395C22.8536 0.562103 0 23.3011 0 51.2462C0 79.1914 22.8536 101.93 50.9395 101.93H218.413V96.9836Z" fill="#253C51"/>
            </svg>  
            <span>get</span>
          </div>
          <h2 class="bm-discount-code-percnet-amount">{{ section.settings.bm_discount_code_percent }}
          <img src="https://cdn.shopify.com/s/files/1/0152/2181/7444/files/persent.png?v=1688738349" />
          </h2>
          <div class="bm-discount-code-percnet-last">
          <svg xmlns="http://www.w3.org/2000/svg" width="219" height="102" viewBox="0 0 219 102" fill="none">
          <path d="M0.578491 5.50886H168.051C193.395 5.50886 214.019 26.0294 214.019 51.2462C214.019 76.4631 193.395 96.9836 168.051 96.9836H0.578491V101.93H168.051C196.137 101.93 218.991 79.1914 218.991 51.2462C218.991 23.3011 196.137 0.562103 168.051 0.562103H0.578491V5.50886Z" fill="#253C51"/>
          </svg>
            <span>off</span>
          </div>
        </div>
        {% if section.settings.bm_discount_order_num %}
        <h2 class="bm-discount-order-num">{{ section.settings.bm_discount_order_num }}</h2>
        {% endif %}
      </div>
      {% endif %}
      <div class="bm-discount-code-form-content">
      <div class="bm-discount-code-form-left">
        <div class="bm-discount-code-form-Image">
          {% if section.settings.bm_discount_code_percent %}
          <div class="bm-discount-code-img bm-mobile-img">
            <div class="bm-discount-code-percnet">
              <div class="bm-discount-code-percnet-first">
                <svg xmlns="http://www.w3.org/2000/svg" width="219" height="102" viewBox="0 0 219 102" fill="none">
                <path d="M218.413 96.9836H50.9395C25.5956 96.9836 4.97169 76.4631 4.97169 51.2462C4.97169 26.0294 25.5956 5.50886 50.9395 5.50886H218.413V0.562103H50.9395C22.8536 0.562103 0 23.3011 0 51.2462C0 79.1914 22.8536 101.93 50.9395 101.93H218.413V96.9836Z" fill="#253C51"/>
                </svg>  
                <span>get</span>
              </div>
              <h2 class="bm-discount-code-percnet-amount">{{ section.settings.bm_discount_code_percent }}
              <img src="https://cdn.shopify.com/s/files/1/0152/2181/7444/files/persent.png?v=1688738349" />
              </h2>
              <div class="bm-discount-code-percnet-last">
              <svg xmlns="http://www.w3.org/2000/svg" width="219" height="102" viewBox="0 0 219 102" fill="none">
              <path d="M0.578491 5.50886H168.051C193.395 5.50886 214.019 26.0294 214.019 51.2462C214.019 76.4631 193.395 96.9836 168.051 96.9836H0.578491V101.93H168.051C196.137 101.93 218.991 79.1914 218.991 51.2462C218.991 23.3011 196.137 0.562103 168.051 0.562103H0.578491V5.50886Z" fill="#253C51"/>
              </svg>
                <span>off</span>
              </div>
            </div>
            {% if section.settings.bm_discount_order_num %}
            <h2 class="bm-discount-order-num">{{ section.settings.bm_discount_order_num }}</h2>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="bm-discount-code-text">
          {% if section.settings.bm_discount_title != blank %}
          <h2 class="bm-discount-code-title">{{ section.settings.bm_discount_title }}</h2>
          {% endif %}
          {% if section.settings.bm_discount_title != blank %}
          <p class="bm-discount-code-description">{{ section.settings.bm_discount_description  }}</p>
          {% endif %}
        </div>
      </div>
      <div class="bm-discount-code-omnisend">
        <div id="omnisend-embedded-v2-64957b762c02b9cc62ff9b7e"></div>
      </div>
      </div>  
    </div>
  </div>
</div>

<div class="bm-discount-omnisend bm-discount-top-hide">
  <div class="curved-background__curved">
  <div class="bm-discount-code-container-after">
    <div class="bm-discount-omnisend-main">
      <div class="bm-discount-omnisend-img">
        {% if section.settings.bm_omnisend_image != blank %}
        <img src="{{section.settings.bm_omnisend_image | img_url:"master" }}" alt="{{section.settings.bm_omnisend_image.alt }}"/>
        {% endif %}
      </div>
      {% if section.settings.bm_omnisend_title!= blank %}
        <h2>{{section.settings.bm_omnisend_title  }}</h2>
      {% endif %}
      {% if section.settings.bm_omnisend_code != blank %}
        <span>{{section.settings.bm_omnisend_code  }}</span>
      {% endif %}
      {% if section.settings.bm_omnisend_subtitle != blank %}
        <h3>{{section.settings.bm_omnisend_subtitle  }}</h3>
      {% endif %}
      {% if section.settings.bm_omnisend_description != blank %}
        <p>{{section.settings.bm_omnisend_description  }}</p>
      {% endif %}
      {% if section.settings.bm_omnisend_text != blank %}
        <h4>{{ section.settings.bm_omnisend_text }}</h4>
      {% endif %}
    </div>
  </div>
  </div>  
</div>

<script>
  function waitForElement(selector, trigger, delayInterval, delayTimeout) {
    var interval = setInterval(function () {
      if (
        document &&
        document.querySelector(selector) &&
        document.querySelectorAll(selector).length > 0
      ) {
        clearInterval(interval);
        trigger();
      }
    }, delayInterval);
    setTimeout(function () {
      clearInterval(interval);
    }, delayTimeout);
  }

  waitForElement('.bm-discount-code-omnisend form', filterCheck, 500, 20000);

  function filterCheck() {
    var targetNode = document.querySelector(".bm-discount-code-omnisend button");
    var config = {
      attributes: true,
      childList: true,
      subtree: true
    };
    
    var callback = function(mutationsList, observer) {
      console.log('something');
      document.querySelector(".bm-discount-omnisend").classList.remove("bm-discount-top-hide");
      document.querySelector(".bm-discount-code-form").classList.add("bm-discount-top-hide");
    };
    
    var observer = new MutationObserver(callback);
    observer.observe(targetNode, config);
  }

</script>

{% schema %}
  {
    "name": "Discount Code Form",
    "settings": [
         {
           "type": "text",
           "id": "bm_discount_order_num",
           "label": "Order content"
         },
          {
            "type": "range",
            "id": "bm_discount_code_percent",
            "label": "Discount percent",
            "min": 1,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 25
          },
		 {
            "type": "text",
            "id": "bm_discount_title",
            "label": "Title"
         },
		 {
            "type": "textarea",
            "id": "bm_discount_description",
            "label": "Description"
         },
         {
           "type": "header",
           "content": "Omnisend Form"
         },
         {
           "type": "image_picker",
           "id": "bm_omnisend_image",
           "label": "Image"
         },
		 {
            "type": "text",
            "id": "bm_omnisend_title",
            "label": "Title"
         },
		 {
            "type": "text",
            "id": "bm_omnisend_code",
            "label": "Code"
         },
		 {
            "type": "text",
            "id": "bm_omnisend_subtitle",
            "label": "Subtitle"
         },
		 {
            "type": "textarea",
            "id": "bm_omnisend_description",
            "label": "Description"
         },
		 {
            "type": "text",
            "id": "bm_omnisend_text",
            "label": "Text"
         }
    ]
  }
{% endschema %}
