<div class="bm-unlock-secrets">
  <div class="bm-unlock-secrets-container">
    <div class="bm-unlock-secrets-main">
      {% if section.settings.bm_unlock_title != blank %}
         <h2>{{ section.settings.bm_unlock_title }}</h2>
        {% endif %}
        {% if section.settings.bm_unlock_subtitle != blank %}
         <h3>{{ section.settings.bm_unlock_subtitle }}</p>
        {% endif %}
      <div class="bm-unlock-secrets-content">
        {% for block in section.blocks %}
        <div class="bm-unlock-secrets-block">
          <div class="bm-unlock-secrets-item">
            <div class="bm-unlock-secrets-img">
              {% if block.settings.bm_unlock_img != blank %}
              <img src="{{ block.settings.bm_unlock_img | img_url:"master" }}" alt="{{ block.settings.bm_unlock_img.alt }}"/>
              {% endif %}
            </div>
            {% if block.settings.bm_unlock_text != blank %}
               <p class="bm-unlock-item-info">{{ block.settings.bm_unlock_text }}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% if section.settings.bm_unlock_description != blank %}
         <p class="bm-unlock-bottom-info">{{ section.settings.bm_unlock_description }}</p>
      {% endif %}
     </div>
  </div>
</div>



{% schema %}
  {
    "name": "Unlock The Secrets",
    "settings": [
      {
        "type": "text",
        "id": "bm_unlock_title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "bm_unlock_subtitle",
        "label": "Subtitle"
      },
      {
        "type": "textarea",
        "id": "bm_unlock_description",
        "label": "Description"
      }
    ],
	"blocks": [
		{
			"name": "Feature",
			"limit": 4,
			"type": "block",
			"settings": [
				{
					"type": "image_picker",
					"id": "bm_unlock_img",
					"label": "Image"
				},
				{
					"type": "richtext",
					"id": "bm_unlock_text",
					"label": "Description"
				}
			]
		}
	],
    "presets": [
      {
        "name": "Unlock The Secrets"
      }
    ]
  }
{% endschema %}