<!-- @prettify-ignore -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby/dist/js/tabby.polyfills.min.js" defer></script>
{{ 'custom-main-account.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

<section class="custom-main-account">
    <div class="flex flex-col lg:flex-row items-stretch justify-start gap-x-6">
        <div class="sidebar lg:min-h-[65rem] flex flex-col justify-between px-[1.5rem] lg:px-24 py-12 bg-[#F2F2F0] border-r border-[#1C1C1C1F]">
           <div>
              <ul data-tabs>
                  <li>
                      <a data-tabby-default href="#profile">Profile</a>
                  </li>
                  <li>
                      <a href="#orders">Order history</a>
                  </li>
              </ul>
              <div class="loop-custom-url">{% render 'loop-subscriptions', type: 'customer-portal-link' %}</div>
              <a class="custom-link-button" href="/pages/rewards">My Rewards</a>
           </div>
           <div>
              <p class="text-base text-[#1c1c1c] font-normal leading-[22.4px]">Have questions? Visit our</p>
              <a href="/pages/faq" class="text-[#C33635] block text-base leading-[22.4px] underline mb-8">FAQ page</a>
              <a class="text-[#C33635] text-base block w-full text-center font-medium leading-[22.4px] py-4 px-8 rounded-[8rem] border border-[#C33635]" href="{{ routes.account_logout_url }}">
                Log out
              </a>
           </div>
        </div>
        <div id="profile" class="p-[1.5rem] lg:p-12">
            <h1 class="text-3xl lg:text-[4rem] font-medium leading-[4.8rem] -tracking-[.04rem] text-[#1c1c1c] mb-4 lg:mb-10" >Hello, {{ customer.first_name }}</h1>
            <div class="flex flex-col gap-y-6">
                <div class="information_box !w-full lg:!w-[630px]">
                    <div class="information_header">
                        <span>Personal information</span>
                        <button class="hidden" data-edit="personal">Edit</button>
                        <button class="information_save">Save</button>
                    </div>
                    <div class="customer_data">
                        <span>{{ customer.name }}</span>
                        <span>{{ customer.email }}</span>
                    </div>
                    <div class="customer_editform flex-col gap-y-5">
                        <div class="flex justify-between gap-x-10">
                            <div class="form_input">
                                <label for="name">Name</label>
                                <input type="text" id="name" value="{{ customer.first_name }}">
                            </div>
                            <div class="form_input">
                                <label for="surname">Surname</label>
                                <input type="text" id="surname" value="{{ customer.last_name }}">
                            </div>
                        </div>
                        <div class="form_input">
                            <label for="email">Email</label>
                            <input type="email" id="email" value="{{ customer.email }}">
                        </div>
                    </div>
                </div>
                <div class="information_box !w-full lg:!w-[630px]">
                    <div class="information_header">
                        <span>Shipping address</span>
                        <button data-edit="address">Edit</button>
                        <button class="information_save">Save</button>
                    </div>
                    <div class="customer_data">
                        <span>{{ customer.name }}</span>
                        <span>{{ customer.email }}</span>
                    </div>
                    <div class="customer_editform flex-col gap-y-5">
                        {% assign address = customer.default_address %}
                        {%- form 'customer_address', address -%}
                            <div class="customer_editform flex-col gap-y-5">
                                <div class="flex justify-between gap-x-10">
                                    <div class="form_input">
                                        <label>Address<span>*</span></label>
                                        <input
                                        type="text"
                                        id="AddressAddress1_{{ form.id }}"
                                        name="address[address1]"
                                        value="{{ form.address1 }}"
                                        autocomplete="address-line1">
                                        <label class="hidden" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                                    </div>
                                    <div class="form_input">
                                        <label>City<span>*</span></label>
                                        <input
                                        type="text"
                                        id="AddressCity_{{ form.id }}"
                                        name="address[city]"
                                        value="{{ form.city }}"
                                        autocomplete="address-level2">
                                        <label class="hidden" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                                    </div>
                                </div>
                                <div class="form_input">
                                    <label>Country<span>*</span></label>
                                    <select
                                        id="AddressCountry_{{ form.id }}"
                                        name="address[country]"
                                        data-address-country-select
                                        data-default="{{ form.country }}"
                                        data-form-id="{{ form.id }}"
                                        autocomplete="country">
                                        {{ all_country_option_tags }}
                                    </select>
                                    <label class="hidden" for="AddressCountry_{{ form.id }}">
                                        {{ 'customer.addresses.country' | t }}
                                      </label>
                                </div>
                                <div class="form_input" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                                    <label>Province<span>*</span></label>
                                    <select
                                        id="AddressProvince_{{ form.id }}"
                                        name="address[province]"
                                        data-default="{{ form.province }}"
                                        autocomplete="address-level1"></select>
                                    <label class="hidden" for="AddressProvince_{{ form.id }}">
                                        {{ 'customer.addresses.province' | t }}
                                      </label>
                                </div>
                                <div class="flex justify-between gap-x-10">
                                    <div class="form_input">
                                        <label>Postal/ Zip code<span>*</span></label>
                                        <input
                                            type="text"
                                            id="AddressZip_{{ form.id }}"
                                            name="address[zip]"
                                            value="{{ form.zip }}"
                                            autocapitalize="characters"
                                            autocomplete="postal-code">
                                        <label class="hidden" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                                    </div>
                                    <div class="form_input">
                                        <label>Postal/ Zip code<span>*</span></label>
                                        <input
                                            type="tel"
                                            id="AddressPhone_{{ form.id }}"
                                            name="address[phone]"
                                            value="{{ form.phone }}"
                                            autocomplete="tel">
                                            <label class="hidden" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                  {{ form.set_as_default_checkbox }}
                                  <label class="text-sm text-[#1C1C1CCC]" for="address_default_address_{{ form.id }}">
                                    {{ 'customer.addresses.set_default' | t }}
                                  </label>
                                </div>
                                <div>
                                  <button class="hidden address_update">{{ 'customer.addresses.update' | t }}</button>
                                  <button class="hidden" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                                </div>
                            </div>
                        {%- endform -%}
                    </div>
                </div>
            </div>
        </div>
        <div id="orders" class="p-[1.5rem] lg:p-12">
          <div>
            <h2 class="text-3xl lg:text-[4rem] font-medium leading-[4.8rem] -tracking-[.04rem] text-[#1c1c1c] mb-5 lg:mb-10">Order history</h2>
          </div>
          <div class="order-table-wrapper">
            <table role="table" class="order-history">
              <caption class="visually-hidden">
                {{ 'customer.orders.title' | t }}
              </caption>
              <thead role="rowgroup">
                <tr role="row">
                  <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                  <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                  <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                  <th id="ColumnFulfillment" scope="col" role="columnheader">
                    {{ 'customer.orders.fulfillment_status' | t }}
                  </th>
                  <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
              <tbody role="rowgroup">
                {%- for order in customer.orders -%}
                  <tr role="row">
                    <td
                      id="RowOrder"
                      role="cell"
                      headers="ColumnOrder"
                      data-label="{{ 'customer.orders.order_number' | t }}"
                    >
                      <a
                        href="{{ order.customer_url }}"
                        aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                      >
                        {{ order.name }}
                      </a>
                    </td>
                    <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                      {{ order.created_at | time_tag: format: 'date' }}
                    </td>
                    <td
                      headers="RowOrder ColumnPayment"
                      role="cell"
                      data-label="{{ 'customer.orders.payment_status' | t }}"
                    >
                      {{ order.financial_status_label }}
                    </td>
                    <td
                      headers="RowOrder ColumnFulfillment"
                      role="cell"
                      data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                    >
                      {{ order.fulfillment_status_label }}
                    </td>
                    <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                      {{ order.total_net_amount | money_with_currency }}
                    </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          </div>
        </div>
    </div>
    {%- paginate customer.addresses by 5 -%}
        <div class="hidden customer addresses section-{{ section.id }}-padding" data-customer-addresses>
          <svg style="display: none">
            <symbol id="icon-caret" viewBox="0 0 10 6">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                fill="currentColor">
            </symbol>
          </svg>
          <h1>{{ 'customer.addresses.title' | t }}</h1>
          <a href="{{ routes.account_url }}">
            {{ 'customer.account.return' | t }}
          </a>
      
          <div data-address>
            <button
              type="button"
              aria-expanded="false"
              aria-controls="AddAddress">
              {{ 'customer.addresses.add_new' | t }}
            </button>
            <div id="AddAddress">
              <h2 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
              {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                <div class="field">
                  <input
                    type="text"
                    id="AddressFirstNameNew"
                    name="address[first_name]"
                    value="{{ form.first_name }}"
                    autocomplete="given-name"
                    placeholder="{{ 'customer.addresses.first_name' | t }}">
                  <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressLastNameNew"
                    name="address[last_name]"
                    value="{{ form.last_name }}"
                    autocomplete="family-name"
                    placeholder="{{ 'customer.addresses.last_name' | t }}">
                  <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressCompanyNew"
                    name="address[company]"
                    value="{{ form.company }}"
                    autocomplete="organization"
                    placeholder="{{ 'customer.addresses.company' | t }}">
                  <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressAddress1New"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    autocomplete="address-line1"
                    placeholder="{{ 'customer.addresses.address1' | t }}">
                  <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressAddress2New"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                    autocomplete="address-line2"
                    placeholder="{{ 'customer.addresses.address2' | t }}">
                  <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressCityNew"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="{{ 'customer.addresses.city' | t }}">
                  <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                </div>
                <div>
                  <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                  <div class="select">
                    <select
                      id="AddressCountryNew"
                      name="address[country]"
                      data-default="{{ form.country }}"
                      autocomplete="country">
                      {{ all_country_option_tags }}
                    </select>
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg>
                  </div>
                </div>
                <div id="AddressProvinceContainerNew" style="display: none">
                  <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                  <div class="select">
                    <select
                      id="AddressProvinceNew"
                      name="address[province]"
                      data-default="{{ form.province }}"
                      autocomplete="address-level1"></select>
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg>
                  </div>
                </div>
                <div class="field">
                  <input
                    type="text"
                    id="AddressZipNew"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters"
                    autocomplete="postal-code"
                    placeholder="{{ 'customer.addresses.zip' | t }}">
                  <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                </div>
                <div class="field">
                  <input
                    type="tel"
                    id="AddressPhoneNew"
                    name="address[phone]"
                    value="{{ form.phone }}"
                    autocomplete="tel"
                    placeholder="{{ 'customer.addresses.phone' | t }}">
                  <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                </div>
                <div>
                  {{ form.set_as_default_checkbox }}
                  <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                </div>
                <div>
                  <button>{{ 'customer.addresses.add' | t }}</button>
                  <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                </div>
              {%- endform -%}
            </div>
          </div>
      
          <ul role="list">
            {%- for address in customer.addresses -%}
              <li data-address>
                {%- if address == customer.default_address -%}
                  <h2>{{ 'customer.addresses.default' | t }}</h2>
                {%- endif -%}
                {{ address | format_address }}
                <button
                  type="button"
                  id="EditFormButton_{{ address.id }}"
                  aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                  aria-controls="EditAddress_{{ address.id }}"
                  aria-expanded="false"
                  data-address-id="{{ address.id }}">
                  {{ 'customer.addresses.edit' | t }}
                </button>
                <button
                  type="button"
                  aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                  data-target="{{ address.url }}"
                  data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                  {{ 'customer.addresses.delete' | t }}
                </button>
                <div id="EditAddress_{{ address.id }}">
                  <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                  {%- form 'customer_address', address -%}
                    <div class="field">
                      <input
                        type="text"
                        id="AddressFirstName_{{ form.id }}"
                        name="address[first_name]"
                        value="{{ form.first_name }}"
                        autocomplete="given-name"
                        placeholder="{{ 'customer.addresses.first_name' | t }}">
                      <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        id="AddressLastName_{{ form.id }}"
                        name="address[last_name]"
                        value="{{ form.last_name }}"
                        autocomplete="family-name"
                        placeholder="{{ 'customer.addresses.last_name' | t }}">
                      <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        id="AddressCompany_{{ form.id }}"
                        name="address[company]"
                        value="{{ form.company }}"
                        autocomplete="organization"
                        placeholder="{{ 'customer.addresses.company' | t }}">
                      <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        id="AddressAddress1_{{ form.id }}"
                        name="address[address1]"
                        value="{{ form.address1 }}"
                        autocomplete="address-line1"
                        placeholder="{{ 'customer.addresses.address1' | t }}">
                      <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        id="AddressAddress2_{{ form.id }}"
                        name="address[address2]"
                        value="{{ form.address2 }}"
                        autocomplete="address-line2"
                        placeholder="{{ 'customer.addresses.address2' | t }}">
                      <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        id="AddressCity_{{ form.id }}"
                        name="address[city]"
                        value="{{ form.city }}"
                        autocomplete="address-level2"
                        placeholder="{{ 'customer.addresses.city' | t }}">
                      <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                    </div>
                    <div>
                      <label for="AddressCountry_{{ form.id }}">
                        {{ 'customer.addresses.country' | t }}
                      </label>
                      <div class="select">
                        <select
                          id="AddressCountry_{{ form.id }}"
                          name="address[country]"
                          data-address-country-select
                          data-default="{{ form.country }}"
                          data-form-id="{{ form.id }}"
                          autocomplete="country">
                          {{ all_country_option_tags }}
                        </select>
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          viewBox="0 0 10 6">
                          <use href="#icon-caret" />
                        </svg>
                      </div>
                    </div>
                    <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                      <label for="AddressProvince_{{ form.id }}">
                        {{ 'customer.addresses.province' | t }}
                      </label>
                      <div class="select">
                        <select
                          id="AddressProvince_{{ form.id }}"
                          name="address[province]"
                          data-default="{{ form.province }}"
                          autocomplete="address-level1"></select>
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          viewBox="0 0 10 6">
                          <use href="#icon-caret" />
                        </svg>
                      </div>
                    </div>
                    <div class="field">
                      <input
                        type="text"
                        id="AddressZip_{{ form.id }}"
                        name="address[zip]"
                        value="{{ form.zip }}"
                        autocapitalize="characters"
                        autocomplete="postal-code"
                        placeholder="{{ 'customer.addresses.zip' | t }}">
                      <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                    </div>
                    <div class="field">
                      <input
                        type="tel"
                        id="AddressPhone_{{ form.id }}"
                        name="address[phone]"
                        value="{{ form.phone }}"
                        autocomplete="tel"
                        placeholder="{{ 'customer.addresses.phone' | t }}">
                      <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                    </div>
                    <div>
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_{{ form.id }}">
                        {{ 'customer.addresses.set_default' | t }}
                      </label>
                    </div>
                    <div>
                      <button>{{ 'customer.addresses.update' | t }}</button>
                      <button type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                    </div>
                  {%- endform -%}
                </div>
              </li>
            {%- endfor -%}
          </ul>
      
          {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
              <nav
                class="pagination"
                role="navigation"
                aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                  {%- if paginate.previous -%}
                    <li>
                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          viewBox="0 0 10 6">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                            fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
      
                  {%- for part in paginate.parts -%}
                    <li>
                      {%- if part.is_link -%}
                        <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </a>
                      {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                          <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                            {{- part.title -}}
                          </span>
                        {%- else -%}
                          <span>{{ part.title }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
      
                  {%- if paginate.next -%}
                    <li>
                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          viewBox="0 0 10 6">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
                            fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              </nav>
            {%- endif -%}
          {%- endif -%}
        </div>
    {%- endpaginate -%}
</section>

<script defer>
    document.addEventListener('DOMContentLoaded', ()=> {
      const tabs = new Tabby('[data-tabs]');

      const infoBoxes = document.querySelectorAll(".information_box");
      infoBoxes.forEach(box => {
        const editBtn = box.querySelector(".information_header button");
        const saveBtn = box.querySelector(".information_header .information_save");
        
        editBtn.addEventListener("click", () => {
            const { edit } = editBtn.dataset;
            box.classList.add("user_editing");

            if (edit === "personal") {
                saveBtn.addEventListener("click", () => {
                    box.classList.remove("user_editing");
                });
            } else if (edit === "password") {
                const currentPasswordInputs = box.querySelectorAll('input[type="password"]');

                currentPasswordInputs.forEach(passwordInput => {
                    const showPasswordIcon = passwordInput.parentNode.querySelector(".pass_show");
                    const hidePasswordIcon = passwordInput.parentNode.querySelector(".pass_hide");

                    showPasswordIcon.addEventListener("click", () => {
                        passwordInput.setAttribute("type", "text");
                        passwordInput.parentNode.classList.add("password_showing");

                        hidePasswordIcon.addEventListener("click", () => {
                            passwordInput.setAttribute("type", "password");
                            passwordInput.parentNode.classList.remove("password_showing");
                        });
                    });
                });

                saveBtn.addEventListener("click", () => {
                    box.classList.remove("user_editing");
                });
            } else if (edit === "address") {
                saveBtn.addEventListener("click", () => {
                    box.querySelector(".address_update").click();
                });
            }
        });
      });
    });
    window.addEventListener('load', () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    });
</script>