<style>
    .article-template__content p{
        margin-bottom: 25px;
        color: #1C1C1C;
    }
    .article-template__content img:not(.needsclick), .article-template__content > img{
        margin: 40px 0;
    }
    .article-template__content p > b:only-child{
        font-size: 28px;
    }
    .article-template__content .klaviyo-form{
        margin: 20px 0 40px 0;
    }
    .custom-table-content .active{
        color: #C33635;
    }
    .section-banner-product input {
        color: #FFFFFF !important;
        border-color: #ffffff !important;
    }

    .section-banner-product input::placeholder {
        color: #FFFFFF !important;
    }

    .section-banner-product .input-new__button path {
        stroke: #FFFFFF !important;
    }
</style>

<div class="page-width my-6 lg:my-20">
    <div class="article-header lg:text-center">
        <div class="flex gap-2.5 items-center my-2 text-[#777777] text-sm lg:text-base font-normal lg:justify-center">
            {% if article.tags.size > 0 %}
            <div class="gap-2.5 hidden lg:!flex">
                {% for tag in article.tags %}
                    <span class="text-[#494948] font-medium capitalize">
                        {{ tag }}
                    </span>
                {% endfor %}
            </div>

            <div class="flex gap-2.5 lg:hidden">
                {% for tag in article.tags limit: 1 %}
                    <span class="text-[#494948] font-medium capitalize">
                        {{ tag }}
                    </span>
                {% endfor %}
            </div>
            
            <svg width="3" height="20" viewBox="0 0 3 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame">
                <rect id="Rectangle 1761" y="9" width="3" height="3" rx="1.5" fill="#1C1C1C" fill-opacity="0.4"/>
                </g>
            </svg>

            {% endif %}

            <span>
                {{ article.published_at | date: "%B %d, %Y" }}
            </span>

            {% unless article.tags contains "video" or article.tags contains "Video" %}

    
            <svg width="3" height="20" viewBox="0 0 3 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="Frame">
                <rect id="Rectangle 1761" y="9" width="3" height="3" rx="1.5" fill="#1C1C1C" fill-opacity="0.4"/>
                </g>
            </svg>
                
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="icn">
                <path id="Vector" d="M7.79604 5.10038V8.45932L10.4364 10.0691M5.51318 1.99639C8.82878 0.622769 12.6297 2.19788 14.0033 5.51348C15.3769 8.82908 13.8018 12.63 10.4862 14.0036C7.17062 15.3772 3.3697 13.8021 1.99608 10.4865C0.623188 7.17092 2.19758 3.37 5.51318 1.99639Z" stroke="#1C1C1C" stroke-opacity="0.6" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
    
            <span>
                {% assign reading_time = article.content | strip_html | split: ' ' | size | times: 1.0 | divided_by: 250 | ceil %}
                {{ reading_time }} min read
            </span>
            {% endunless %}
        </div>
        <h1 class="text-base lg:text-5xl text-[#1C1C1C] mt-3 lg:mt-8">{{ article.title }}</h1>
        {% if article.metafields.custom.overview != blank %}
        <div class="flex-1 article-template__content text-left mt-5 lg:mt-12">
            {{ article.metafields.custom.overview | metafield_tag }}
        </div>
        {% endif %}
        {% unless article.tags contains "video" or article.tags contains "Video" %}
        <div class="mt-5 lg:mt-12 mx-auto ">
            <img class="rounded-[24px] lg:max-h-[600px] w-full object-cover" src="{{ article.image | img_url: "master" }}" alt="">
        </div>
        {% endunless %}
    </div>
    {% if article.tags contains "video" or article.tags contains "Video" %}
        {{ article.content }}
    {%  else %}
    <div class="article-body mt-6 lg:mt-16 flex flex-col-reverse lg:flex-row">
        <div class="basis-[400px] lg:px-10 mt-8 lg:mt-0">
            <div class="lg:sticky lg:top-[3rem]">
                {% if article.metafields.custom.author != blank %}
                <span class="text-[#1C1C1C] text-xl">Author</span>
                <div class="flex items-center gap-3 mt-6 pb-6 mb-6 border-b border-[#e1e1df] border-solid">
                    <figure class="max-w-[48px]">
                        <img class="rounded-[50%] aspect-square object-cover object-center" src="{{ article.metafields.custom.author.value.image | img_url: "master" }}" alt="">
                    </figure>
                    <div class="flex flex-col gap-0.5">
                        <span class="text-[#1C1C1C] opacity-40 text-sm">Written by</span>
                        <span class="text-[#1C1C1C] text-sm">{{ article.metafields.custom.author.value.name }}</span>
                    </div>
                </div>
                {% endif %}
                <span class="text-[#1C1C1C] text-xl">Table of contents</span>
                <div class="custom-table-content flex flex-col gap-4 mt-6 pb-6 mb-6 border-b border-[#e1e1df] border-solid text-[#767675]">
                </div>
                <div class="flex gap-3">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ page.url }}" target="_blank" rel="noopener noreferrer">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.5 16.0515C24.5 11.3277 20.6954 7.50018 16 7.50018C11.3046 7.50018 7.5 11.3277 7.5 16.0515C7.5 20.3194 10.6093 23.858 14.6706 24.5002V18.522H12.5091V16.0515H14.6706V14.1668C14.6706 12.023 15.9397 10.8403 17.8811 10.8403C18.811 10.8403 19.785 11.0079 19.785 11.0079V13.1098H18.7123C17.6583 13.1098 17.326 13.7674 17.326 14.4438V16.0481H19.6831L19.3057 18.5177H17.326V24.4925C21.3907 23.8537 24.5 20.3194 24.5 16.0515Z" fill="#1C1C1C" fill-opacity="0.8"/>
                            <rect x="0.6" y="0.6" width="30.8" height="30.8" rx="15.4" stroke="#1C1C1C" stroke-opacity="0.2" stroke-width="1.2"/>
                        </svg>
                    </a> 
                    <a href="https://twitter.com/share?url={{ shop.url }}{{ page.url }}&text={{ page.title }}" target="_blank" rel="noopener noreferrer">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.8335 12.2606L22.6221 14.4646C22.1828 19.583 17.8626 23.559 12.7003 23.559C11.6385 23.559 10.7599 23.3906 10.0935 23.0611C9.55898 22.7902 9.33931 22.5046 9.28073 22.4167C9.23227 22.3431 9.20104 22.2595 9.18937 22.1722C9.1777 22.0848 9.1859 21.9959 9.21334 21.9122C9.24079 21.8284 9.28679 21.752 9.3479 21.6884C9.40901 21.6249 9.48367 21.576 9.56631 21.5454C9.58095 21.5381 11.309 20.879 12.4294 19.6123C11.7346 19.1176 11.1239 18.5143 10.6207 17.8256C9.61756 16.4637 8.55582 14.0985 9.19287 10.5691C9.21289 10.4642 9.26088 10.3666 9.33177 10.2867C9.40266 10.2068 9.49381 10.1475 9.5956 10.1151C9.69771 10.0817 9.80705 10.077 9.91166 10.1015C10.0163 10.1261 10.1121 10.1789 10.1887 10.2543C10.2107 10.2836 12.649 12.6853 15.6292 13.4615V13.0148C15.6321 12.5504 15.7264 12.091 15.9068 11.663C16.0872 11.235 16.3502 10.8468 16.6806 10.5204C17.0111 10.194 17.4026 9.93593 17.8328 9.76086C18.263 9.58579 18.7235 9.49717 19.1879 9.50007C19.7975 9.50876 20.3944 9.67521 20.9206 9.98318C21.4467 10.2912 21.8841 10.7302 22.1901 11.2574H24.4161C24.5317 11.2571 24.6449 11.291 24.7413 11.3548C24.8378 11.4187 24.9131 11.5096 24.958 11.6162C25.0002 11.7244 25.0109 11.8424 24.9888 11.9564C24.9668 12.0704 24.9129 12.1759 24.8335 12.2606Z" fill="#1C1C1C" fill-opacity="0.8"/>
                            <rect x="0.6" y="0.6" width="30.8" height="30.8" rx="15.4" stroke="#1C1C1C" stroke-opacity="0.2" stroke-width="1.2"/>
                        </svg>   
                    </a> 
                    <a href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ page.url }}">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.4979 16.2617C24.3589 20.7171 20.7538 24.3467 16.2985 24.4939C15.5119 24.5238 14.725 24.444 13.9604 24.2568C13.8767 24.2337 13.8052 24.1791 13.761 24.1044C13.7168 24.0297 13.7033 23.9407 13.7234 23.8562L14.4509 20.9623C15.1135 21.3636 15.8755 21.5704 16.65 21.5591C19.6747 21.5591 22.1027 18.8205 21.8656 15.5587C21.653 12.6239 19.2496 10.2777 16.3066 10.1224C15.5086 10.0802 14.7104 10.201 13.9606 10.4773C13.2108 10.7536 12.5251 11.1798 11.9453 11.7297C11.3655 12.2797 10.9038 12.9419 10.5883 13.6761C10.2728 14.4103 10.11 15.201 10.11 16.0001C10.1112 16.7561 10.2555 17.505 10.5351 18.2074C10.6002 18.3689 10.7267 18.498 10.8869 18.5662C11.0472 18.6344 11.2279 18.6362 11.3894 18.5712C11.5509 18.5061 11.68 18.3796 11.7482 18.2194C11.8165 18.0591 11.8183 17.8784 11.7532 17.7169C11.5404 17.1947 11.4267 16.6375 11.418 16.0737C11.4083 14.8596 11.8812 13.6913 12.7329 12.8258C13.5845 11.9604 14.7451 11.4687 15.9592 11.459C17.1734 11.4492 18.3416 11.9222 19.2071 12.7738C20.0725 13.6254 20.5642 14.786 20.5739 16.0001C20.5739 18.3463 18.8163 20.2511 16.65 20.2511C15.7916 20.2511 15.1948 19.9486 14.7861 19.5971L15.9796 14.8475C16 14.7637 16.0037 14.6768 15.9905 14.5916C15.9773 14.5065 15.9475 14.4247 15.9027 14.3511C15.8579 14.2775 15.7991 14.2134 15.7295 14.1625C15.66 14.1116 15.5811 14.0749 15.4973 14.0545C15.4136 14.0341 15.3267 14.0304 15.2415 14.0436C15.1563 14.0568 15.0746 14.0867 15.0009 14.1314C14.8522 14.2219 14.7455 14.3677 14.7044 14.5368L12.5135 23.3167C12.5016 23.3645 12.4791 23.409 12.4477 23.4469C12.4162 23.4847 12.3766 23.515 12.3318 23.5355C12.287 23.5559 12.2382 23.566 12.1889 23.5649C12.1397 23.5638 12.0914 23.5516 12.0475 23.5292C10.7036 22.8236 9.57318 21.771 8.77353 20.4809C7.97389 19.1907 7.53422 17.71 7.50018 16.1926C7.46615 14.6751 7.83899 13.1761 8.57999 11.8514C9.32098 10.5267 10.4031 9.42455 11.714 8.65936C13.0249 7.89418 14.5167 7.49389 16.0346 7.50007C17.5524 7.50625 19.0409 7.91867 20.3456 8.6945C21.6502 9.47033 22.7233 10.5813 23.4535 11.912C24.1837 13.2427 24.5443 14.7446 24.4979 16.2617Z" fill="#1C1C1C" fill-opacity="0.8"/>
                            <rect x="0.6" y="0.6" width="30.8" height="30.8" rx="15.4" stroke="#1C1C1C" stroke-opacity="0.2" stroke-width="1.2"/>
                        </svg>                             
                    </a> 
                    <a href="javascript:void(0);" onclick="Copy();">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.6299 16.5187L21.1852 14.9634C22.3306 13.8181 22.3306 11.9607 21.1852 10.8147C20.0399 9.66942 18.1826 9.66942 17.0366 10.8147L15.4812 12.3701M13.9266 18.0734L18.0732 13.9267M12.3699 15.4814L10.8146 17.0367C9.66923 18.1821 9.66923 20.0394 10.8146 21.1854C11.9599 22.3307 13.8172 22.3307 14.9632 21.1854L16.5186 19.6301" stroke="#1C1C1C" stroke-opacity="0.8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <rect x="0.6" y="0.6" width="30.8" height="30.8" rx="15.4" stroke="#1C1C1C" stroke-opacity="0.2" stroke-width="1.2"/>
                        </svg>                            
                    </a> 
                </div>
            </div>
        </div>
        <div class="flex-1 article-template__content">
            {{ article.content }}
        </div>
    </div>
    {% endif %}
</div>

{% unless article.tags contains "video" or article.tags contains "Video" %}


<div class="page-width mt-10 lg:mt-0">
    <div class="rounded-[24px] flex flex-col-reverse lg:flex-row gap-4 lg:gap-1.5 items-center my-6 lg:my-20 p-6 lg:p-20" style="background: linear-gradient(264deg, #0777A3 -4.31%, #1FA9B8 53.39%, #52B7AF 104.58%);">
        <div class="basis-1/2">
            <h3 class="lg:text-5xl !text-white font-medium mb-2 lg:mb-5 text-2xl">Knowledge is power</h3>
            <p class="text-xl !text-white font-normal">Sign up to our newsletter to keep learning!</p>
        </div>
        <div class="lg:pr-20 basis-1/2 lg:px-0 lg:pt-0 w-full">
            <div class="flex flex-col gap-8 w-full section-banner-product">
                {% render 'omnisend-form', section_id: section.id, snippet_context: 'section' %}
            </div>
        </div>
    </div>
</div>

{% endunless %}

{% assign blog = blogs['resources'].articles | where: "tags", article.tags[0] %}

{% if blog != blank %}
<div id="must-reads" class="my-14 page-width">
    <div class="pb-3 lg:pb-5 border-b border-[#e1e1df] border-solid">
        <h2 class="text-2xl lg:text-4xl text-[#1C1C1C]">Related articles</h2>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 my-6 lg:my-10">
        {% for article in blog offset: 1 limit: 3 %}
            {% render "custom-blog-card", article: article %}
        {% endfor %}
    </div>
</div>

{% endif %}

<template>
    <div>
    {% assign blog_product = article.metafields.custom.blog_product.value %}
    <div href="{{ blog_product.url }}" class="flex flex-col lg:flex-row gap-8 blog-product-card my-3">
        <div class="lg:basis-[320px] relative">
            <img class="rounded-[24px] w-full object-cover lg:max-w-[320px] max-h-[320px] !my-0" src="{{ blog_product.featured_image | img_url: "master" }}" alt="">
            <div class="absolute top-2 right-1">
                <span class="text-white uppercase px-2 py-1 rounded-[30px] backdrop-blur-[20px] text-xs mr-2" style="background: #C33635">
                    Bestseller
                </span>
            </div>
        </div>
        <div class="flex-1 flex flex-col justify-between ">
            <div>
            <h3 class="text-2xl text-[#1C1C1C] font-medium">{{ blog_product.title }}</h3>
            <div class="flex items-center justify-start gap-x-2 mb-6 md:mb-8">
                {% if blog_product.metafields.yotpo.reviews_average %} 
                  <div class="flex items-center justify-center gap-x-1 rounded-[4rem] border border-[#C33635] py-0.5 pl-1.5 pr-2.5">
                    {% render 'icon-star' %}
                    <span class="text-[#1C1C1C] text-sm font-medium leading-[1.96rem]">{{ blog_product.metafields.yotpo.reviews_average | round: 1 }}</span>
                  </div>
                {% endif %}
                {% if blog_product.metafields.yotpo.reviews_count %} 
                  <p class="text-[#1C1C1C] !text-sm !font-medium leading-[1.96rem] !mb-0">Based on {{ blog_product.metafields.yotpo.reviews_count }} reviews</p>
                {% endif %}
              </div>
            <p class="!text-base text-[#1C1C1C] opacity-60 font-normal mt-3 lg:mt-6">{{ blog_product.description }}</p>
            </div>
            <button class="rounded-[80px] border border-solid border-[#C33635] text-[#C33635] py-3 w-full blog-product-card-atc" onclick="blogAddToCart('{{ blog_product.selected_or_first_available_variant.id }}')">Add to cart</button>
        </div>
    </div>
    <div>
</template>

<script defer>

    function blogAddToCart(variantId) {
            const object = {
              items: [
                {
                  id: variantId, 
                  quantity: 1
                }
              ],
              sections: ["cart-drawer"]
            }
      
            fetch('/cart/add.js', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(object)
            }).then((response)=>{
              return response.json();
            }).then((json)=>{
              console.log(json);
              const cartForm = new DOMParser().parseFromString(json.sections['cart-drawer'], 'text/html').querySelector('#CartDrawer .drawer__inner').innerHTML;
      
              document.querySelector('#CartDrawer .drawer__inner ').innerHTML = cartForm;
      
              if(document.querySelector('cart-drawer').classList.contains('is-empty')){
                  document.querySelector('cart-drawer').classList.remove('is-empty');
                  document.querySelector('cart-drawer-items').classList.remove('is-empty');
                  document.querySelector('#CartDrawer-Checkout').disabled = false;
              }
      
              document.querySelector('cart-drawer').open()
            });
          }


    document.addEventListener('DOMContentLoaded', function () {
        if(document.querySelector('em span strong') && document.querySelector('em span strong').textContent == 'product_tag'){
            // select <template> content and replace em element with content of template
            const template = document.querySelector('template');
            const content = template.content;
            document.querySelector('em span strong').parentNode.parentNode.replaceWith(content);
        }

        // Step 1: Generate the table of content
        const titles = document.querySelectorAll(".article-template__content h3");
      
        const tableContent = document.querySelector('.custom-table-content');
        const articleContent = document.querySelector('.article-template__content');
      
        // Adding "Introduction" at the top
        const introAnchor = document.createElement('a');
        introAnchor.textContent = 'Introduction';
        introAnchor.href = '#';
        introAnchor.classList.add('link-intro');
        introAnchor.addEventListener('click', function(e) {
          e.preventDefault();
          window.scrollTo({
            top: articleContent.offsetTop - 30,  // 30 pixels margin from the top
            behavior: "smooth"
          });
        });
        tableContent.appendChild(introAnchor);
      
        // Adding remaining sections
        titles.forEach((title, index) => {
          const anchor = document.createElement('a');
          anchor.textContent = title.textContent;
      
          // Ensure each title element has a unique ID
          const id = `section-${index + 1}`;
          title.id = id;
      
          // Set the href attribute
          anchor.href = `#${id}`;
          anchor.classList.add(`link-${index}`);
          anchor.addEventListener('click', function(e) {
            e.preventDefault();
            window.scrollTo({
              top: title.offsetTop - 30,  // 30 pixels margin from the top
              behavior: "smooth"
            });
          });
      
          tableContent.appendChild(anchor);
        });
      
        // Step 3: Highlight the active section
        const setActiveClass = () => {
            let minDistance = Infinity;
            let closest;
            titles.forEach((title, index) => {
              const distance = Math.abs(title.getBoundingClientRect().top);
              if (distance < minDistance) {
                minDistance = distance;
                closest = index;
              }
            });
          
            // If user scrolls to the top, make 'Introduction' active
            if (articleContent.getBoundingClientRect().top >= -30) { // Allowing a buffer of 30 pixels
              document.querySelector('.link-intro').classList.add('active');
              
              // Remove active class from all other links
              titles.forEach((_, index) => {
                const link = document.querySelector(`.link-${index}`);
                link.classList.remove('active');
              });
            } else {
              document.querySelector('.link-intro').classList.remove('active');
          
              titles.forEach((_, index) => {
                const link = document.querySelector(`.link-${index}`);
                if (index === closest) {
                  link.classList.add('active');
                } else {
                  link.classList.remove('active');
                }
              });
            }
          };
          
      
        window.addEventListener('scroll', setActiveClass);
      });        

    function Copy() {
        let url = document.location.href

        navigator.clipboard.writeText(url).then(function() {
            console.log('Copied!');
        }, function() {
            console.log('Copy error')
        });
    }
</script>

{% schema %}
{
  "name": "Custom Main Article",
  "class": "custom-main-article",
  "tag": "section",
  "settings": [

  ]
}
{% endschema %}