<!-- @prettify-ignore -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/gh/cferdinandi/tabby/dist/css/tabby-ui.min.css">
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/tabby/dist/js/tabby.polyfills.min.js" defer></script>

<style>
  .questionWrapper .opened {
    display: none;
  }
  .questionWrapper .answer {
    display: none;
  }
  .questionWrapper.active .closed {
    display: none;
  }
  .questionWrapper.active .opened {
    display: block;
  }
  .questionWrapper.active .answer {
    display: block;
  }

  [role=tab] {
    border: none;
  }
  [data-tabs] li a {
    color: #1C1C1C;
    opacity: 0.6;
  }
  [hidden] {
    display: none;
  }
  [role=tablist] {
    border-bottom: 1px solid #1c1c1c1f !important;
  }
  [role=tab][aria-selected=true] {
    border-bottom: 1px solid #1C1C1C;
    color: #1C1C1C;
    opacity: 1;
    background: transparent !important;
  }
  [role=tab]:hover:not([aria-selected=true]) {
    border-color: transparent;
    border: none !important;
  }

  @media screen and (min-width: 770px) {
    [role=tablist] {
      border-bottom: none !important;
    }
    [role=tab][aria-selected=true] {
      border: none;
      border-bottom: 1px solid #1C1C1C !important;
    }
    [data-tabs] li a {
      padding: 20px;
      width: 205px;
      font-size: 18px;
      line-height: 25.2px;
      text-align: center;
    }
  }
  @media screen and (max-width: 768px){
    .faq-slider::-webkit-scrollbar, .product_tab_slider::-webkit-scrollbar {
      -webkit-appearance: none;
    }
  }
  .product_tab_slide.active {
    background-color: #1C1C1C !important;
    color: #FFF !important;
  }
</style>

{%- style -%} 
  {%- assign productQuestions = section.blocks | where: 'type', 'products' -%}
  {%- for block in productQuestions -%}
      .productQuestionHandle-{{ block.settings.product.handle }}:first-of-type {
        border: none !important;
        padding: 0 !important;
        padding-bottom: 20px !important;
      }
      .productQuestionHandle-{{ block.settings.product.handle }} {
        border-top-width: 1px;
        border-color: #1c1c1c1f;
        padding: 20px 0;
      }
  {%- endfor -%}
{%- endstyle -%}


<div class="pt-10 md:pt-20">
  <h1 class="page-width px-6 text-[3.2rem] text-[#1c1c1c] text-center font-medium leading-[3.84rem] -tracking-[0.064rem] mb-6 md:mb-10 md:text-[5.6rem] md:leading-[6.16rem] md:-tracking-[0.112rem]">FAQ</h1>
  <div class="!px-6 overflow-x-scroll faq-slider md:overflow-x-visible md:border-b md:border-[#1c1c1c1f]">
    <ul class="flex items-center gap-x-4 min-w-max md:gap-x-6 md:max-w-[135rem] md:!mx-auto md:border-b md:border-[#1c1c1c1f] md:justify-center" data-tabs>
      <li><a data-tabby-default href="#shipping">Shipping & Returns</a></li>
      <li><a href="#prods">Products</a></li>
      <li><a href="#hsaForm">HSA Medical Form</a></li>
      <li><a href="#rewards">Rewards</a></li>
      <li><a href="#subscriptions">Subscriptions</a></li>
    </ul>
  </div>
  <div id="shipping" class="page-width px-6 flex flex-col gap-y-8 pb-6 mt-4 md:mt-14 md:flex-row md:justify-between md:gap-x-6 md:pb-0">
    <h3 class="text-2xl font-medium text-[#1c1c1c] md:text-[2.8rem] md:leading-[3.92rem] md:-tracking-[0.028rem]">Shipping & Return policy</h3>
    <div class="flex flex-col md:w-[72rem]">
      {% assign shippingQuestions = shop.metaobjects["faq"].values | where: 'type', 'Shipping and Returns' %}
      {% for block in shippingQuestions %}
        {% if block.type contains "Shipping" %}
        <div class="questionWrapper {% unless forloop.first %} border-t border-[#1c1c1c1f] py-5 {% else %} pb-5 {% endunless %} flex flex-col gap-y-4">
          <div class="questionWrapperHeader cursor-pointer flex items-center justify-between gap-x-4">
            <p class="text-[#1C1C1C] text-xl font-normal md:text-2xl md:leading-[3.36rem] md:-tracking-[0.024rem]">{{ block.question }}</p>
            <div class="closed">
              {% render 'faq-plus' %}
            </div>
            <div class="opened">
              {% render 'faq-minus' %}
            </div>
          </div>
          <div class="answer">
            {% if block.media %}
              <div class="rounded-[1.6rem] overflow-hidden relative mb-8">
                  <video controls class="section_video object-cover w-full h-full" poster="{{ block.media.value.preview_image.src | img_url: '800x800' }}">
                  <source src="{{ block.media.value.sources[1].url }}">
                  </video>
              </div>
          {% endif %}
            <p class="text-base text-[#1c1c1ccc] leading-[2.24rem] md:text-lg">{{ block.answer | metafield_tag }}</p>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div id="prods" class="mt-2.5 md:mt-10">
    {% assign productQuestions = section.blocks | where: 'type', 'products' %}
    <div class="overflow-x-scroll product_tab_slider w-full px-6 md:overflow-x-hidden md:max-w-[135rem] md:mx-auto">
      <div class="flex items-center gap-x-4 w-max md:justify-center md:w-auto">
        {% for block in productQuestions %}
            <div data-product="{{ block.settings.product.handle }}" class="product_tab_slide py-1.5 px-3 rounded-[4rem] text-sm font-medium leading-[19.6px] text-[#1c1c1c] border border-[#1c1c1c1f] md:py-[.9rem] md:px-4 md:text-base md:-tracking-[.032rem] md:leading-[2.24rem] md:cursor-pointer {% if forloop.first %}active{% endif %}">{{ block.settings.product.title }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="page-width px-6 flex flex-col gap-y-8 pb-6 mt-4 md:mt-[8.8rem] md:flex-row md:justify-between md:gap-x-6 md:pb-0">
      <h3 id="displayedProductFaqTitle" class="text-2xl font-medium text-[#1c1c1c] md:text-[2.8rem] md:leading-[3.92rem] md:-tracking-[0.028rem]"></h3>
      <div class="flex flex-col md:w-[72rem]">
        {% for producti in productQuestions %} 
          {% for block in producti.settings.product.metafields.custom.faqs.value %}
          <div data-product="{{ producti.settings.product.handle }}" class="hidden questionWrapper productQuestionWrapper {% if forloop.first %} border-none !p-0 !pb-[20px] {% endif %} productQuestionHandle-{{ producti.settings.product.handle }} flex flex-col gap-y-4">
            <div class="questionWrapperHeader cursor-pointer flex items-center justify-between gap-x-4">
              <p class="text-[#1C1C1C] text-xl font-normal md:text-2xl md:leading-[3.36rem] md:-tracking-[0.024rem]">{{ block.question }}</p>
              <div class="closed">
                {% render 'faq-plus' %}
              </div>
              <div class="opened">
                {% render 'faq-minus' %}
              </div>
            </div>
            <div class="answer">
              {% if block.media %}
                <div class="rounded-[1.6rem] overflow-hidden relative mb-8">
                    <video controls class="section_video object-cover w-full h-full" poster="{{ block.media.value.preview_image.src | img_url: '800x800' }}">
                    <source src="{{ block.media.value.sources[1].url }}">
                    </video>
                </div>
            {% endif %}
              <p class="text-base text-[#1c1c1ccc] leading-[2.24rem] md:text-lg">{{ block.answer | metafield_tag }}</p>
            </div>
          </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="hsaForm" class="page-width px-6 flex flex-col gap-y-6 pb-6 mt-4 md:mt-14 md:flex-row md:justify-between md:gap-x-6 md:pb-0">
    <h3 class="text-2xl font-medium text-[#1c1c1c] md:text-[2.8rem] md:leading-[3.92rem] md:-tracking-[0.028rem]">HSA/FSA Medical Form</h3>
    <div class="hsaFormWrapper flex flex-col gap-y-2 md:gap-y-4 md:w-[72rem]">
      {% assign hsaTextBlocks = section.blocks | where: 'type', 'hsas' %}
      {% for block in hsaTextBlocks %} 
        <p class="text-base text-[#1c1c1ccc] font-normal leading-[2.24rem] md:text-xl md:leading-[2.8rem]">{{ block.settings.hsa_rich }}</p>
      {% endfor %}
      <a href="https://cdn.shopify.com/s/files/1/0060/4677/7455/files/Utiva_HSA_FSA_Form_-_Canada_Fillable_1.pdf?v=1700551694" target="_blank" class="flex items-center w-full justify-center py-4 px-8 rounded-[8rem] border border-[#C33635] mt-4 md:w-fit">
        <span class="text-[#C33635] text-base leading-[2.24rem] font-medium text-center">Download form</span>
      </a>
    </div>
  </div>
  <div id="rewards" class="page-width px-6 flex flex-col gap-y-8 pb-6 mt-4 md:mt-14 md:flex-row md:justify-between md:gap-x-6 md:pb-0">
    <h3 class="text-2xl font-medium text-[#1c1c1c] md:text-[2.8rem] md:leading-[3.92rem] md:-tracking-[0.028rem]">Rewards & Referrals</h3>
    <div class="flex flex-col md:w-[72rem]">
      {% assign rewardQuestions = shop.metaobjects["faq"].values | where: 'type', 'Rewards' %}
      {% for block in rewardQuestions %}
        <div class="questionWrapper {% unless forloop.first %} border-t border-[#1c1c1c1f] py-5 {% else %} pb-5 {% endunless %} flex flex-col gap-y-4">
          <div class="questionWrapperHeader cursor-pointer flex items-center justify-between gap-x-4">
            <p class="text-[#1C1C1C] text-xl font-normal md:text-2xl md:leading-[3.36rem] md:-tracking-[0.024rem]">{{ block.question }}</p>
            <div class="closed">
              {% render 'faq-plus' %}
            </div>
            <div class="opened">
              {% render 'faq-minus' %}
            </div>
          </div>
          <div class="answer">
            {% if block.media %}
              <div class="rounded-[1.6rem] overflow-hidden relative mb-8">
                  <video controls class="section_video object-cover w-full h-full" poster="{{ block.media.value.preview_image.src | img_url: '800x800' }}">
                  <source src="{{ block.media.value.sources[1].url }}">
                  </video>
              </div>
          {% endif %}
            <p class="text-base text-[#1c1c1ccc] leading-[2.24rem] md:text-lg">{{ block.answer | metafield_tag }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div id="subscriptions" class="page-width px-6 flex flex-col gap-y-8 pb-6 mt-4 md:mt-14 md:flex-row md:justify-between md:gap-x-6 md:pb-0">
    <h3 class="text-2xl font-medium text-[#1c1c1c] md:text-[2.8rem] md:leading-[3.92rem] md:-tracking-[0.028rem]">Subscribe & Save</h3>
    <div class="flex flex-col md:w-[72rem]">
      {% assign subQuestions = shop.metaobjects["faq"].values | where: 'type', 'Subscriptions' %}
      {% for block in subQuestions %}
        <div class="questionWrapper {% unless forloop.first %} border-t border-[#1c1c1c1f] py-5 {% else %} pb-5 {% endunless %} flex flex-col gap-y-4">
          <div class="questionWrapperHeader cursor-pointer flex items-center justify-between gap-x-4">
            <p class="text-[#1C1C1C] text-xl font-normal md:text-2xl md:leading-[3.36rem] md:-tracking-[0.024rem]">{{ block.question }}</p>
            <div class="closed">
              {% render 'faq-plus' %}
            </div>
            <div class="opened">
              {% render 'faq-minus' %}
            </div>
          </div>
          <div class="answer">
            {% if block.media %}
              <div class="rounded-[1.6rem] overflow-hidden relative mb-8">
                  <video controls class="section_video object-cover w-full h-full" poster="{{ block.media.value.preview_image.src | img_url: '800x800' }}">
                  <source src="{{ block.media.value.sources[1].url }}">
                  </video>
              </div>
          {% endif %}
            <p class="text-base text-[#1c1c1ccc] leading-[2.24rem] md:text-lg">{{ block.answer | metafield_tag }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script defer>
  const questions = document.querySelectorAll(".questionWrapperHeader");
  questions.forEach((question, i) => {
    question.addEventListener("click", () => {
      // Check if the clicked question is already active
      const isActive = question.parentNode.classList.contains("active");
  
      // Remove 'active' class from all questions
      questions.forEach(e => e.parentNode.classList.remove("active"));
  
      // If the clicked question was not active, set it to active
      if (!isActive) {
        question.parentNode.classList.add("active");
      }
    });
  });
  

  document.addEventListener("DOMContentLoaded", () => {
    const tabs = new Tabby('[data-tabs]');

    document.getElementById("displayedProductFaqTitle").innerText = document.querySelector(".product_tab_slide.active").innerText;
    const initialProductTab = document.querySelector(".product_tab_slide.active").dataset.product;
    const productQuestions = document.querySelectorAll(".questionWrapper.productQuestionWrapper");
    productQuestions.forEach(e => e.dataset.product === initialProductTab && e.classList.remove("hidden"));

    const tabSlides = document.querySelectorAll(".product_tab_slide");
    tabSlides.forEach(tab => {
      tab.addEventListener("click", () => {
        tabSlides.forEach(e => e.classList.remove("active"));
        tab.classList.add("active");

        document.getElementById("displayedProductFaqTitle").innerText = document.querySelector(".product_tab_slide.active").innerText;
        productQuestions.forEach(e => e.classList.add("hidden"));
        productQuestions.forEach(e => e.dataset.product === tab.dataset.product && e.classList.remove("hidden"));
      });
    });
  });

</script>

{% schema %}
  {
    "name": "Questions",
    "tag": "section",
    "blocks": [
       {
        "name": "Products",
        "type": "products",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }, {
        "name": "HSA Text",
        "type": "hsas",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "hsa_rich",
            "label": "HSA Content"
          }
        ]
      }
    ]
  }
{% endschema %}