{{ 'customer.css' | asset_url | stylesheet_tag }}
<style>
  #order .order-table-wrapper {
    border: 1px solid rgba(28, 28, 28, 0.1215686275);
    border-radius: 8px;
  }
  #order .order-table-wrapper table thead tr th {
    color: #1c1c1c;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: -0.32px;
    padding: 13px 16px;
    border: 1px solid rgba(28, 28, 28, 0.1215686275);
    border-bottom: none;
    border-top: none;
  }
  #order .order-table-wrapper table thead tr th:first-child {
    border-left: none;
  }
  #order .order-table-wrapper table thead tr th:last-child {
    border-right: none;
  }
  #order .order-table-wrapper table tbody tr td {
    color: #1c1c1c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    padding: 13px 16px;
    border: 1px solid rgba(28, 28, 28, 0.1215686275);
    border-bottom: none;
  }
  #order .order-table-wrapper table tbody tr td:first-child {
    border-left: none;
  }
  #order .order-table-wrapper table tbody tr td:last-child {
    border-right: none;
  }
  #order .order-table-wrapper table tfoot tr td {
    color: #1c1c1c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    padding: 13px 16px;
    border: 1px solid rgba(28, 28, 28, 0.1215686275);
    border-bottom: none;
  }
  #order .order-table-wrapper table tfoot tr td:first-child {
    border-left: none;
  }
  #order .order-table-wrapper table tfoot tr td:last-child {
    border-right: none;
  }
  .billing_address p,
  .shipping_address p {
    color: #1c1c1ccc;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
  }
</style>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}
    px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}
    px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}
      px;
      padding-bottom: {{ section.settings.padding_bottom }}
      px;
    }
  }
{%- endstyle -%}

<div class="customer order section-{{ section.id }}-padding">
  <div class="p-12">
    <div class="mb-6" id="order">
      <h2 class="text-[#1c1c1c] text-[4rem] font-medium leading-[4.8rem] -tracking-[0.04rem] !mb-10">{{ 'customer.order.title' | t: name: order.name }}</h2>
      {%- if order.cancelled -%}
        <div class="!mb-6">
          {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
          <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
        </div>
      {%- endif -%}

      <div class="order-table-wrapper">
        <table role="table" class="order-details">
          <caption class="visually-hidden">
            {{ 'customer.order.title' | t: name: order.name }}
          </caption>
          <thead role="rowgroup">
            <tr role="row">
              <th
                id="ColumnProduct"
                scope="col"
                role="columnheader">{{ 'customer.order.product' | t }}</th>
              <th
                id="ColumnSku"
                scope="col"
                role="columnheader">{{ 'customer.order.sku' | t }}</th>
              <th
                id="ColumnPrice"
                scope="col"
                role="columnheader">{{ 'customer.order.price' | t }}</th>
              <th
                id="ColumnQuantity"
                scope="col"
                role="columnheader">{{ 'customer.order.quantity' | t }}</th>
              <th
                id="ColumnTotal"
                scope="col"
                role="columnheader">{{ 'customer.order.total' | t }}</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            {%- for line_item in order.line_items -%}
              <tr role="row">
                <td
                  id="Row{{ line_item.key }}"
                  headers="ColumnProduct"
                  role="rowheader"
                  scope="row"
                  data-label="{{ 'customer.order.product' | t }}">
                  <div>
                    <p>{{ line_item.title }}</p>
                    {%- if line_item.fulfillment -%}
                      {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                      <p>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</p>
                      <p>
                        {{ line_item.fulfillment.tracking_company }}
                      </p>
                      {%- if line_item.fulfillment.tracking_number -%}
                        <p>
                          №{{ line_item.fulfillment.tracking_number }}
                        </p>
                      {%- endif -%}
                    {%- endif -%}
                    {%- if line_item.line_level_discount_allocations != blank -%}
                      <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                          <li>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              viewBox="0 0 12 12">
                              <use href="#icon-discount" />
                            </svg>
                            {{- discount_allocation.discount_application.title }} (-
                            {{- discount_allocation.amount | money -}}
                            )
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div>
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnSku"
                  role="cell"
                  data-label="{{ 'customer.order.sku' | t }}">
                  {{ line_item.sku }}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnPrice"
                  role="cell"
                  data-label="{{ 'customer.order.price' | t }}">
                  {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                    <dl>
                      {%- if line_item.original_price != line_item.final_price -%}
                        <dt>
                          <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                        </dt>
                        <dd class="regular-price">
                          <s>{{ line_item.original_price | money }}</s>
                        </dd>
                        <dt>
                          <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                        </dt>
                        <dd>
                          <span>{{ line_item.final_price | money }}</span>
                        </dd>
                      {%- else -%}
                        <dt>
                          <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                        </dt>
                        <dd>
                          {{ line_item.original_price | money }}
                        </dd>
                      {%- endif -%}
                      {%- if line_item.unit_price_measurement -%}
                        <dt>
                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                        </dt>
                        <dd class="unit-price">
                          <span>
                            {%- capture unit_price_separator -%}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                            {%- endcapture -%}
                            {%- capture unit_price_base_unit -%}
                              {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                {{- line_item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ line_item.unit_price_measurement.reference_unit }}
                            {%- endcapture -%}
                            <span data-unit-price>{{ line_item.unit_price | money }}</span>
                            {{- unit_price_separator -}}
                            {{- unit_price_base_unit -}}
                          </span>
                        </dd>
                      {%- endif -%}
                    </dl>
                  {%- else -%}
                    <span>{{ line_item.final_price | money }}</span>
                  {%- endif -%}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnQuantity"
                  role="cell"
                  data-label="{{ 'customer.order.quantity' | t }}">
                  {{ line_item.quantity }}
                </td>
                <td
                  headers="Row{{ line_item.key }} ColumnTotal"
                  role="cell"
                  data-label="{{ 'customer.order.total' | t }}">
                  {%- if line_item.original_line_price != line_item.final_line_price -%}
                    <dl>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                      </dt>
                      <dd class="regular-price">
                        <s>{{ line_item.original_line_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span>{{ line_item.final_line_price | money }}</span>
                      </dd>
                    </dl>
                  {%- else -%}
                    {{ line_item.original_line_price | money }}
                  {%- endif -%}
                </td>
              </tr>
            {%- endfor -%}
          </tbody>
          <tfoot role="rowgroup">
            <tr role="row">
              <td
                id="RowSubtotal"
                role="rowheader"
                scope="row"
                colspan="4">
                {{ 'customer.order.subtotal' | t }}
              </td>
              <td
                headers="RowSubtotal"
                role="cell"
                data-label="{{ 'customer.order.subtotal' | t }}">
                {{ order.line_items_subtotal_price | money }}
              </td>
            </tr>
            {%- if order.cart_level_discount_applications != blank -%}
              <tr role="row">
                {%- for discount_application in order.cart_level_discount_applications -%}
                  <td
                    id="RowDiscount"
                    role="rowheader"
                    scope="row"
                    colspan="4">
                    {{ 'customer.order.discount' | t }}
                    <span class="cart-discount">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        viewBox="0 0 12 12">
                        <use href="#icon-discount" />
                      </svg>
                      {{- discount_application.title -}}
                    </span>
                  </td>
                  <td
                    headers="RowDiscount"
                    role="cell"
                    data-label="{{ 'customer.order.discount' | t }}">
                    <div>
                      <span>-{{ discount_application.total_allocated_amount | money }}</span>
                      <span class="cart-discount">
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          viewBox="0 0 12 12">
                          <use href="#icon-discount" />
                        </svg>
                        {{- discount_application.title -}}
                      </span>
                    </div>
                  </td>
                {%- endfor -%}
              </tr>
            {%- endif -%}
            {%- for shipping_method in order.shipping_methods -%}
              <tr role="row">
                <td
                  id="RowShipping"
                  role="rowheader"
                  scope="row"
                  colspan="4">
                  {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                </td>
                <td
                  headers="RowShipping"
                  role="cell"
                  data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">
                  {{ shipping_method.price | money }}
                </td>
              </tr>
            {%- endfor -%}
            {%- for tax_line in order.tax_lines -%}
              <tr role="row">
                <td
                  id="RowTax"
                  role="rowheader"
                  scope="row"
                  colspan="4">
                  {{ 'customer.order.tax' | t }} ({{ tax_line.title }}
                  {{ tax_line.rate | times: 100 }}%)
                </td>
                <td
                  headers="RowTax"
                  role="cell"
                  data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">
                  {{ tax_line.price | money }}
                </td>
              </tr>
            {%- endfor -%}
            {%- if order.total_duties -%}
              <tr role="row">
                <td
                  id="RowDuties"
                  role="rowheader"
                  scope="row"
                  colspan="4">{{ 'customer.order.total_duties' | t }}</td>
                <td
                  headers="RowDuties"
                  role="cell"
                  data-label="{{ 'customer.order.total_duties' | t }}">
                  {{ order.total_duties | money }}
                </td>
              </tr>
            {%- endif -%}
            {%- if order.total_refunded_amount > 0 -%}
              <tr role="row">
                <td
                  id="RowTotalRefund"
                  role="rowheader"
                  scope="row"
                  colspan="4">
                  {{ 'customer.order.total_refunded' | t }}
                </td>
                <td
                  headers="RowTotalRefund"
                  role="cell"
                  data-label="{{ 'customer.order.total_refunded' | t }}">
                  -{{ order.total_refunded_amount | money_with_currency }}
                </td>
              </tr>
            {%- endif -%}
            <tr role="row">
              <td
                id="RowTotal"
                role="rowheader"
                scope="row"
                colspan="4">{{ 'customer.order.total' | t }}</td>
              <td
                headers="RowTotal"
                role="cell"
                data-label="{{ 'customer.order.total' | t }}">
                {{ order.total_net_amount | money_with_currency }}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div>
      <div class="p-6 rounded-[1.6rem] border border-[#1C1C1C1F] mb-6">
        <div class="flex items-center justify-between mb-8">
          <h2 class="text-[2.2rem] leading-[30.8px] -tracking-[0.22px]">{{ 'customer.order.billing_address' | t }}</h2>
          <div class="py-[10.25px] px-2 rounded-[4rem] {% if order.financial_status_label == "Paid" %} bg-[#08B16F] {% else %} bg-[#C33635] {% endif %} uppercase text-white text-[11px] font-medium leading-[0.55px] tracking-[0.55px]">{{ order.financial_status_label }}</div>
        </div>
        <div class="billing_address">
          {{ order.billing_address | format_address }}
        </div>
      </div>
      <div class="p-6 rounded-[1.6rem] border border-[#1C1C1C1F]">
        <div class="flex items-center justify-between mb-8">
          <h2 class="text-[2.2rem] leading-[30.8px] -tracking-[0.22px]">{{ 'customer.order.shipping_address' | t }}</h2>
          <div class="py-[10.25px] px-2 rounded-[4rem] {% if order.fulfillment_status_label == "Fulfilled" %} bg-[#08B16F] {% else %} bg-[#C33635] {% endif %} uppercase text-white text-[11px] font-medium leading-[0.55px] tracking-[0.55px]">{{ order.fulfillment_status_label }}</div>
        </div>
        <div class="billing_address">
          {{ order.shipping_address | format_address }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-order.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}