{{ 'new-product-slider.css' | asset_url | stylesheet_tag }}
<script src='{{ 'product-slider-dragg.js' | asset_url }}' defer='defer'></script>

{% style %}
		#shopify-section-{{ section.id }}{
			--padding-top: {{ section.settings.paddingTop_desktop }}px;
			--padding-bottom: {{ section.settings.paddingBottom_desktop }}px;
	}


	@media screen and (max-width: 768px) {
		#shopify-section-{{ section.id }}{
			--padding-top: {{ section.settings.paddingTop_mobile }}px;
			--padding-bottom: {{ section.settings.paddingBottom_mobile }}px;
		}
	}

	.new-product-slider button.slick-next.slick-arrow,
	.new-product-slider button.slick-prev.slick-arrow {
			display: block !important;
	}
	.new-product-slider button.slick-next.slick-arrow {
			right: 28px;
			z-index: 1;
	}
	.new-product-slider button.slick-prev.slick-arrow {
			left: 28px;
			z-index: 1;
	}
	.new-product-slider .slick-prev:before,
	.new-product-slider .slick-next:before {
			background: unset !important;
	}
	.new-product-slider .slick-prev:focus,
	.new-product-slider .slick-next:focus {
			background-color: var(--color-white);
	}
	.new-product-slider .slick-prev:hover,
	.new-product-slider .slick-next:hover {
			background-color: var(--grey);
	}
	.new-product-slider .btn-new--arrow {
			padding-top: 4px;
	}
	.new-product-slider button.slick-next.slick-arrow[aria-disabled="true"],
	.new-product-slider button.slick-prev.slick-arrow[aria-disabled="true"] {
			display: none !important;
	}
{% endstyle %}

<div
	class='new-product-slider new-product-slider--{{ section.id }}'
	style='
		padding-top: var(--padding-top);
		padding-bottom: var(--padding-bottom);
	'
>
	<div class='new-product-slider__content-block'>
		{% if section.settings.title != blank %}
			<p class='new-product-slider__content-block--title'>
				{{ section.settings.title }}
			</p>
		{% endif %}
		{% if section.settings.button_text != blank %}
			<div class='new-product-slider__btn-desktop'>
				<a href='{{ section.settings.button_url }}' class='btn-new btn-new--secondary-icon'>
					{{ section.settings.button_text }}
					{% render 'icon', icon: 'secondary-btn-icon' %}
				</a>
			</div>
		{% endif %}
	</div>
	<ul class='new-product-slider__products-block new-product-slider__products-block--{{ section.id }}'>
		{% for product in section.settings.collection.products %}
			<li class='new-product-slider__item'>
				<a href='{{ product.url }}' class='new-product-slider__item--image'>
					{% render 'image', image: product.featured_image %}
					<div class='new-product-slider__item--tag'>
						{% for tag in product.tags %}
							{% if tag contains 'Most Popular' %}
								<div class='element-tag label-new'>
									{{ tag }}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</a>
				<div class='new-product-slider__item--text'>
					{{- product.title | link_to: product.url }}
					<div class='new-product-slider__item--description text-[#1C1C1C] opacity-60 text-sm min-h-[60px] lg:min-h-0'>
						{{ product.description | strip_html | truncate: 78, "..." }}
					</div>
				</div>
				<div class='new-product-slider__item--price-rating'>
					<p class='body-m'>{{ product.price | money }}</p>

					<div class='new-product-slider__item--rating'>
						{% if product.metafields.yotpo.reviews_average %} 
							<div class="flex items-center justify-center gap-x-1">
							{% render 'icon' with 'star-20' %}
							<span class="text-[#1C1C1C] text-sm font-medium leading-[1.96rem]">{{ product.metafields.yotpo.reviews_average | round: 1 }}</span>
							</div>
						{% endif %}
					</div>
				</div>

			</li>
		{% endfor %}
	</ul>
	{% if section.settings.button_text != blank %}
		<div class='new-product-slider__btn-mobile'>
			<a href='{{ section.settings.button_url }}' class='btn-new btn-new--secondary-icon'>
				{{ section.settings.button_text }}
				{% render 'icon', icon: 'secondary-btn-icon' %}
			</a>
		</div>
	{% endif %}
</div>

<script>
	$(document).ready(function () {
		$('.new-product-slider__products-block--{{ section.id }}').slick({
			arrows: false,
			slidesToScroll: 1,
			variableWidth: false,
			lazyLoad: 'progressive',
			infinite: false,
			swipeToSlide: true,
			mobileFirst: true,
			slidesToShow: 1.37,
			responsive: [
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 2.2,
					},
				},
				{
					breakpoint: 650,
					settings: {
						slidesToShow: 2.7,
					},
				},
				{
					breakpoint: 800,
					settings: {
						slidesToShow: 3.5,
					},
				},
				{
					breakpoint: 1024,
					settings: {
						arrows: true,
						prevArrow:
							"<button type='button' class='slick-prev pull-left btn-new btn-new--arrow'><svg xmlns='http://www.w3.org/2000/svg' width='32'height='32' viewBox='0 0 32 32' fill='none'> <path d='M5.3335 15.9999H28.0002M5.3335 15.9999L12.0002 9.33325M5.3335 15.9999L12.0002 22.6666' stroke='#1C1C1C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/> </svg></button>",
						nextArrow:
							"<button type='button' class='slick-next pull-right btn-new btn-new--arrow'><svg xmlns='http://www.w3.org/2000/svg' width='32'height='32' viewBox='0 0 32 32' fill='none'> <path d='M26.6667 15.9999H4M26.6667 15.9999L20 22.6666M26.6667 15.9999L20 9.33325' stroke='#1C1C1C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/> </svg></button>",
						slidesToShow: 2.53,
					},
				},
				{
					breakpoint: 1441,
					settings: {
						arrows: true,
						prevArrow:
							"<button type='button' class='slick-prev pull-left btn-new btn-new--arrow'><svg xmlns='http://www.w3.org/2000/svg' width='32'height='32' viewBox='0 0 32 32' fill='none'> <path d='M5.3335 15.9999H28.0002M5.3335 15.9999L12.0002 9.33325M5.3335 15.9999L12.0002 22.6666' stroke='#1C1C1C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/> </svg></button>",
						nextArrow:
							"<button type='button' class='slick-next pull-right btn-new btn-new--arrow'><svg xmlns='http://www.w3.org/2000/svg' width='32'height='32' viewBox='0 0 32 32' fill='none'> <path d='M26.6667 15.9999H4M26.6667 15.9999L20 22.6666M26.6667 15.9999L20 9.33325' stroke='#1C1C1C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/> </svg></button>",
						slidesToShow: 3.5,
					},
				},
				{
					breakpoint: 2000,
					settings: {
						arrows: true,
						prevArrow:
							"<button type='button' class='slick-prev pull-left btn-new btn-new--arrow'><svg xmlns='http://www.w3.org/2000/svg' width='32'height='32' viewBox='0 0 32 32' fill='none'> <path d='M5.3335 15.9999H28.0002M5.3335 15.9999L12.0002 9.33325M5.3335 15.9999L12.0002 22.6666' stroke='#1C1C1C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/> </svg></button>",
						nextArrow:
							"<button type='button' class='slick-next pull-right btn-new btn-new--arrow'><svg xmlns='http://www.w3.org/2000/svg' width='32'height='32' viewBox='0 0 32 32' fill='none'> <path d='M26.6667 15.9999H4M26.6667 15.9999L20 22.6666M26.6667 15.9999L20 9.33325' stroke='#1C1C1C' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/> </svg></button>",
						slidesToShow: 4.5,
					},
				},
			],
		});
	});
</script>

{% schema %}
{
	"name": "Product slider",
	"settings": [
		{
			"type": "header",
			"content": "Background settings"
		},
		{
			"type": "range",
			"id": "paddingTop_mobile",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding top for mobile",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingBottom_mobile",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding bottom for mobile",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingTop_desktop",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Padding top for desktop",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingBottom_desktop",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Padding bottom for desktop",
			"default": 0
		},
		{
			"type": "header",
			"content": "Title settings"
		},
		{
			"type": "text",
			"id": "title",
			"placeholder": "Title",
			"label": "Section Title"
		},
		{
			"type": "header",
			"content": "Button settings"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button Text",
			"placeholder": "Text"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Button link"
		},
		{
			"type": "header",
			"content": "Collection settings"
		},
		{
			"type": "collection",
			"id": "collection",
			"label": "Collection"
		}
	],

	"presets": [
		{
			"name": "Product slider"
		}
	]
}
{% endschema %}
