{{ 'save-from-10.css' | asset_url | stylesheet_tag }}
{% liquid
	assign image_desktop = section.settings.image_desktop | image_url: width: image_desktop.width
	assign image_mobile = section.settings.image_mobile | image_url: width: image_mobile.width
%}

{% style %}
	    #shopify-section-{{ section.id }}{
	        --padding-top: {{ section.settings.paddingTop_desktop }}px;
	        --padding-bottom: {{ section.settings.paddingBottom_desktop }}px;
	}



	@media screen and (max-width: 768px) {
	    #shopify-section-{{ section.id }}{
	        --padding-top: {{ section.settings.paddingTop_mobile }}px;
	        --padding-bottom: {{ section.settings.paddingBottom_mobile }}px;
	    }

	}
{% endstyle %}

<div
	class='save-from-10'
	style='
		background-color: {{ section.settings.bg_color }};
		margin-top: var(--padding-top);
		margin-bottom: var(--padding-bottom);
	'
>
	<div class='save-from-10__inner'>
		<h2 class='save-from-10__inner--title'>{{ section.settings.title }}</h2>
		{% if section.settings.button_text != blank %}
			<a
				href='{{ section.settings.button_link }}'
				class='save-from-10__inner--btn-link btn-new btn-new--secondary-fill'
			>
				{{- section.settings.button_text -}}
			</a>
		{% endif %}
	</div>
	{% if image_desktop != blank %}
		<img
			src='{{ image_desktop }}'
			class='save-from-10__img--desktop'
			alt='{{ image_desktop.alt }}'
			width='500'
			loading="lazy"
		>
	{% endif %}
	{% if image_mobile != blank %}
		<img
			src='{{ image_mobile }}'
			class='save-from-10__img--mobile'
			alt='{{ image_mobile.alt }}'
			width='500'
			loading="lazy"
		>
	{% endif %}
</div>

{% schema %}
{
	"name": "Save from 10",
	"tag": "section",
	"settings": [
		{
			"type": "header",
			"content": "Background settings"
		},
		{
			"type": "range",
			"id": "paddingTop_mobile",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding top for mobile",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingBottom_mobile",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding bottom for mobile",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingTop_desktop",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding top for desktop",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingBottom_desktop",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding bottom for desktop",
			"default": 0
		},
		{
			"type": "image_picker",
			"id": "image_desktop",
			"label": "Background image for desktop"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Background image for mobile"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background color",
			"default": "#91D5D0"
		},

		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Section title",
			"placeholder": "Text"
		},
		{
			"type": "header",
			"content": "Button settings"
		},
		{
			"type": "text",
			"id": "button_text",
			"label": "Button text",
			"placeholder": "Text"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button link"
		}
	],
	"presets": [
		{
			"name": "Save from 10"
		}
	]
}
{% endschema %}
