{{ 'sticky-promo-banner.css' | asset_url | stylesheet_tag }}

<script src="
	https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.js
	" defer></script>
	<link href="
	https://cdn.jsdelivr.net/npm/basiclightbox@5.0.4/dist/basicLightbox.min.css
	" rel="stylesheet">
	

{% if section.settings.text != blank %}
	<div
		class='sticky-promo-banner cursor-pointer {% if request.path contains "hcp" %} hidden {% endif %}'
		id="sticky-promo-banner"
		style='
			background-color: {{ section.settings.bg-color }};
			color: {{ section.settings.text-color }}
		'
	>
		<div class='sticky-promo-banner__content flex items-center gap-3'><span>{{ section.settings.text }}</span>		<svg class="relative top-[1px]" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20 12H3M20 12L15 17M20 12L15 7" stroke="#fff" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
		</svg></div>

	</div>
{% endif %}

<template>
	<div class="bg-white klaviyo-form-{{ section.settings.klavyio-form-id }}"></div>
</template>

<script defer>
	document.addEventListener("DOMContentLoaded", function() {

    const promoBanner = document.getElementById('sticky-promo-banner');
    const emailPopup = document.getElementById('custom-email-popup');

    promoBanner.addEventListener('click', function() {
			window._klOnsite = window._klOnsite || [];
			window._klOnsite.push(['openForm', '{{ section.settings.klavyio-form-id }}']);
    });
	});
</script>

{% schema %}
{
	"name": "Promo banner",
	"tag": "section",
	"settings": [
		{
			"type": "richtext",
			"label": "Text",
			"id": "text"
		},
		{
			"type": "color",
			"id": "bg-color",
			"label": "Background color",
			"default": "#52B7AF"
		},
		{
			"type": "color",
			"label": "Text color",
			"id": "text-color",
			"default": "#fff"
		}, 
		{
			"type": "text",
			"label": "Klavyio form ID",
			"id": "klavyio-form-id",
			"default": "QVP9Lv"
		}
	]
}
{% endschema %}
