{{ 'utiva-for-good.css' | asset_url | stylesheet_tag }}
{% liquid
	assign image_desktop = section.settings.image_desktop | image_url: width: image_desktop.width
	assign image_mobile = section.settings.image_mobile | image_url: width: image_mobile.width
%}

{% style %}
	#shopify-section-{{ section.id }}{
		--padding-top: {{ section.settings.paddingTop_mobile }}px;
		--padding-bottom: {{ section.settings.paddingBottom_mobile }}px;
	}

	.utiva-for-good__image {
			background-image: url({{ image_mobile }});
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 260px;
			background-position: center;
	}

	@media screen and (min-width: 480px) {

		.utiva-for-good__image {
			background-image: url({{ image_desktop }});
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 460px;
			background-position: center;
		}
	}

	@media screen and (min-width: 768px) {

		.utiva-for-good__image {
			min-height: 560px;
		}
	}

	@media screen and (min-width: 1024px) {
		#shopify-section-{{ section.id }}{
			--padding-top: {{ section.settings.paddingTop_desktop }}px;
			--padding-bottom: {{ section.settings.paddingBottom_desktop }}px;
		}

		.utiva-for-good__image {
			background-image: url({{ image_desktop }});
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 501px;
			background-position: center;
			width: 50%;
		}
	}

	@media screen and (min-width: 1441px) {
		.utiva-for-good__image {
			min-height: 600px;
		}
	}
{% endstyle %}

<div
	class='utiva-for-good'
	style='
		padding-top: var(--padding-top);
		padding-bottom: var(--padding-bottom);
	'
>
	<div
		class='utiva-for-good__container'
		style='background-color: {{ section.settings.background_color }};'
	>
		<div class='utiva-for-good__info'>
			<div class='utiva-for-good__section-content'>
				{% if section.settings.icon != blank %}
					<div class='utiva-for-good__section-content--icon'>
						{% render 'image', image: section.settings.icon %}
					</div>
				{% endif %}
				<div
					class='utiva-for-good__section-content--title'
					style='color: {{ section.settings.title_color }}'
				>
					{% if section.settings.title != blank %}
						{{ section.settings.title }}
					{% endif %}
				</div>
				<div class='utiva-for-good__section-content--description'>
					{% if section.settings.description != blank %}
						{{ section.settings.description }}
					{% endif %}
				</div>
			</div>
			<div class='utiva-for-good__block-content'>
				{% for block in section.blocks %}
					<div class='utiva-for-good__block-content--wrapper'>
						{% if block.settings.logo != blank %}
							<div class='utiva-for-good__block-content--icon'>
								{% render 'image', image: block.settings.logo %}
							</div>
						{% endif %}
						{% if block.settings.description != blank %}
							<div class='utiva-for-good__block-content--description'>
								{{ block.settings.description }}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class='utiva-for-good__image'></div>
	</div>
</div>

{% schema %}
{
	"name": "Utiva for good",
	"settings": [
		{
			"type": "header",
			"content": "Background settings"
		},
		{
			"type": "range",
			"id": "paddingTop_mobile",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding top for mobile",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingBottom_mobile",
			"min": 0,
			"max": 100,
			"step": 2,
			"unit": "px",
			"label": "Padding bottom for mobile",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingTop_desktop",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Padding top for desktop",
			"default": 0
		},
		{
			"type": "range",
			"id": "paddingBottom_desktop",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Padding bottom for desktop",
			"default": 0
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background color"
		},
		{
			"type": "image_picker",
			"id": "image_desktop",
			"label": "Image"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Image (Mobile)"
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "image_picker",
			"id": "icon",
			"label": "Icon"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Utiva for good"
		},
		{
			"type": "color",
			"id": "title_color",
			"label": "Title color",
			"default": "#C33635"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Description</p>"
		}
	],
	"blocks": [
		{
			"type": "info",
			"name": "info block",
			"settings": [
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Logo"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Description</p>"
				}
			]
		}
	],

	"presets": [
		{
			"name": "Utiva for good"
		}
	]
}
{% endschema %}
