<div class="bm-valentines-day-promo-banner">
    <div class="bm-banner-container">
        <div class="bm-banner-main">
            <a href="{{ section.settings.bm_banner_link }}">
                {% if section.settings.bm_desktop_banner_image != blank %}
                    <img src="{{ section.settings.bm_desktop_banner_image |  img_url: 'master' }}" alt="{{ section.settings.bm_desktop_banner_image }}" class="desktop-img">
                {% endif %}
                {% if section.settings.bm_mobile_banner_image != blank %}
                    <img src="{{ section.settings.bm_mobile_banner_image |  img_url: 'master' }}" alt="{{ section.settings.bm_mobile_banner_image }}" class="mobile-img">
                {% endif %}
            </a>
        </div>
    </div>
</div>

<style>
html body #shopify-section-{{ section.id }} .bm-banner-main a img {
    display: block;
    width: 100%;
    height: 100%;
}
html body #shopify-section-{{ section.id }} .bm-banner-main a img.mobile-img {
    display: none;
}
@media screen and (max-width:768px){
    html body #shopify-section-{{ section.id }} .bm-banner-main a img.desktop-img {
        display: none;
    }
    html body #shopify-section-{{ section.id }} .bm-banner-main a img.mobile-img {
        display: block;
    }
}
</style>

{% schema %}
    {
      "name": "Promo Banner (Valentines)",
      "class": "bm-valentines-day-promo-banner-section",
      "settings": [
        {
            "type": "url",
            "id": "bm_banner_link",
            "label": "Banner Link"
        },
        {
            "type": "image_picker",
            "id": "bm_desktop_banner_image",
            "label": "Desktop Banner Image"
        },
        {
            "type": "image_picker",
            "id": "bm_mobile_banner_image",
            "label": "Mobile Banner Image"
        }
      ],
      "presets": [
            {
                "name": "Promo Banner (Valentines)",
                "category": "Valentines Day Promo Banner",
                "settings": {

                }
            }
        ]
    }
{% endschema %}