<div class="bg-[#C33635] w-full flex flex-col md:flex-row md:justify-between md:items-center">
  <div class="page-width px-6 py-10 md:py-0 md:w-[48.5rem]">
    <h2 class="text-white text-[3.2rem] font-medium leading-[3.84rem] -tracking-[0.064rem] mb-3 md:text-[4.8rem] md:leading-[5.28rem] md:-tracking-[0.096rem]">{{ section.settings.title }}</h2>
    <h3 class="text-[#FFFFFFCC] text-base font-normal leading-[2.24rem] mb-8 md:text-xl md:font-normal">{{ section.settings.subtitle }}</h3>
    <a href="{{ section.settings.cta_url }}" class="block bg-white w-full py-3.5 px-8 rounded-[8rem] text-center text-base font-medium leading-[2.24rem] text-[#1c1c1c] md:w-fit">{{ section.settings.cta_text }}</a>
  </div>
  <img
    class="md:w-1/2"
    src="{{ section.settings.img | img_url: 'master' }}"
    alt="wallpaper">
</div>

{% schema %}
  {
    "name": "Reviews",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "What are customers saying about Utiva?"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Real Customers. Real Reviews."
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text",
        "default": "Explore reviews"
      }, {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ]
  }
{% endschema %}