{% section 'ebook-template' %}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
<div class="tabs-box">
            <div class="container">
              <div class="tabs-main">
                  
                      <ul class=" nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-usage-tab" data-toggle="pill" href="#pills-usage" role="tab" aria-controls="pills-usage" aria-selected="true">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-ingred-tab" data-toggle="pill" href="#pills-ingred" role="tab" aria-controls="pills-ingred" aria-selected="false">Ingredients</a>
            </li>
              
                <li class="nav-item">
              <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
            </li>

              <li class="nav-item">
              <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">Faq</a>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
           
            
            
            <div class="tab-pane fade show active" id="pills-usage" role="tabpanel" aria-labelledby="pills-usage-tab">
               <div class="sections-wrapper page-blocks">
            {% section 'ebook-sections' %} 
            </div>
            </div>
     
            
            <div class="tab-pane fade" id="pills-ingred" role="tabpanel" aria-labelledby="pills-ingred-tab">
              {% section 'ebook-sections-ingredient' %} 
              {% section 'ebook-sections' %} 
            </div>
            
            
            
            
           <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
            
			<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>
				{% section 'ebook-sections-review' %} 
             {% section 'ebook-sections' %} 
            </div> 
            
           
              <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
                   
                
                {% section 'ebook-sections-faq' %} 
                {% section 'ebook-sections' %} 
          
          </div>

              </div>
            </div>
          </div>


{% section 'ebook-recommendations' %}

{%- if collection -%}
  <div class="text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{%- endif -%}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>     
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="{{ 'custom.js' | asset_url }}" defer></script> 








{% comment %} {% section 'ebook-template' %}
{% section 'ebook-sections' %} {% endcomment %}

<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>

{% comment %} {% section 'ebook-recommendations' %} {% endcomment %}
{% section 'sezzle-widget' %}