<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.15/css/main-style.css?t=20201207141253"><link rel="stylesheet" href="{{ 'pagefly.3cb78172.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-3973d0e9"><div data-pf-type="Layout" class="pf-731b3973"><div data-pf-type="ProductPreview" class="sc-pJVLq dIjrXL pf-7aeafbcd">{% section 'product-template' %}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
<div class="tabs-box">
            <div class="container">
              <div class="tabs-main">
                  
                      <ul class=" nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-usage-tab" data-toggle="pill" href="#pills-usage" role="tab" aria-controls="pills-usage" aria-selected="true">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-ingred-tab" data-toggle="pill" href="#pills-ingred" role="tab" aria-controls="pills-ingred" aria-selected="false">Ingredients</a>
            </li>
              
                <li class="nav-item">
              <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
            </li>

              <li class="nav-item">
              <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">Faq</a>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
           
            
            
            <div class="tab-pane fade show active" id="pills-usage" role="tabpanel" aria-labelledby="pills-usage-tab">
               <div class="sections-wrapper page-blocks">
            {% section 'product-sections' %} 
            </div>
            </div>
     
            
            <div class="tab-pane fade" id="pills-ingred" role="tabpanel" aria-labelledby="pills-ingred-tab">
              {% section 'product-sections-ingredient' %} 
              {% section 'product-sections' %}
            </div>
            
            
            
            
           <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
            
			<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>
				{% section 'product-sections-review' %} 
             {% section 'product-sections' %}
            </div> 
            
           
              <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
                   
                
                {% section 'product-sections-faq' %} 
                {% section 'product-sections' %} 
                
             <!--   <p class="h2">
Probiotic Power FAQ          </p>
       <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-onn">
    {% include 'collapsible-icons-alt', no_circle: true %}
     Does the Probiotic Power work?
  </button>
  <div id="FAQ-content-onn" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
     <p>Yes! Utiva’s Probiotic Power is an excellent probiotic option providing necessary strains to improve gut and urinary tract health. At the total value of 30 Billion CFU, at time of manufacture, the optimal required amount of probiotics are being provided. Additionally, our DR Capsules are vegetable based and specially created to ensure delivery of sensitive probiotic strains past the gut for targeted delivery.</p>    
    </div>
  </div>
        
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-one">
    {% include 'collapsible-icons-alt', no_circle: true %}
 How long do I have to wait to see the effects?  </button>
  <div id="FAQ-content-one" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
  <p>It is usually recommended to take natural products for a minimum of 4 weeks to see beneficial results but some will experience health benefits much earlier. It is important to take your Probiotic Power diligently every day to ensure optimal efficacy. Probiotics are often a long term process to regain and maintain your optimal gut health so please be patient!</p>    </div>
  </div>

          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-two">
    {% include 'collapsible-icons-alt', no_circle: true %}
    Does the Probiotic Power interact with other supplements and antibiotics?
  </button>
  <div id="FAQ-content-two" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>When taking antibiotics, it is recommended to take any probiotic 2-3 hours before/after taking your antibiotic. Aside from this, there are no known interactions with Probiotic Power and any other medication or supplements.</p></div>  </div>
         
          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-three">
    {% include 'collapsible-icons-alt', no_circle: true %}
Is it dairy-free and soy-free?  </button>
  <div id="FAQ-content-three" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>Yes! Utiva Probiotic Power is dairy-free and soy-free. It is a very clean formulation that is safe for all adult populations.</p>
    </div>  </div>
         
          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-four">
    {% include 'collapsible-icons-alt', no_circle: true %}
     Do I need to refrigerate Probiotic Power?
 </button>
  <div id="FAQ-content-four" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>No. Utiva Probiotic Power is shelf stable at room temperature. Being individually packed in blister packs also ensures improved stability with less exposure to air. Should you wish to refrigerate it, there is no harm in doing so.</p>
    </div>  </div>
                
            
            
            
            
            </div>-->
          
          </div>

              </div>
            </div>
          </div>


{% section 'product-recommendations' %}

{%- if collection -%}
  <div class="text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{%- endif -%}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>     
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="{{ 'custom.js' | asset_url }}" defer></script> 







































</div><div data-container="true" class="sc-pZopv bjKdkd pf-6bc0c0a6" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-fbcd35b6" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-54b26bc0 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-35b6de95" data-pf-type="Column"><h3 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-a3fb7174"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-487fa3fb">This is your heading text.</span></h3></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-de956560" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-6560d3f5" data-pf-type="Column"></div></div><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--3 pf-c-md--3 pf-c-lg--3"><div class="sc-pkUyL fTyjzF pf-d3f554b2" data-pf-type="Column"></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.15","shopDomain":"utiva.myshopify.com","elementData":{},"pageTitle":"Control Supplement","pageType":"product","pageId":"3cb78172-4e3c-4311-b7df-8f894bccb237","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-12-07T20:08:59.171Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.15/core/helper.js?t=20201207141253" defer></script>
                {% section 'sezzle-widget' %}