{% section 'probiotic-template' %}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
<div style="width: 100%; margin-top: -50px;">
  <div class="index-section index-section--alt">
        
            <div class="page-width text-left">
    <div class="grid">
      <div class="grid__item">
        
          <p class="h2" style="color: #fff">
            Why the Starter Kit?
          </p>
        
        
          <div class="rte" style="color: #fff">
            
              <p>This starter kit is the best and most powerful way to say goodbye to UTIs. The Utiva UTI Control Supplement has a 3 month supply of once-a-day pills that will help maintain a healthy urinary tract to prevent UTIs.* Use the Utiva UTI Test Strips at home or when you travel so that you can screen the UTI at your convenience. Read the Utiva UTI Guide eBook to learn other lifestyle choices you can make to avoid UTIs once and for all.</p>
            
          </div>
        
      </div>
    </div>
  </div>
</div>
</div>
<div class="tabs-box">
            
              <div class="tabs-main">
                  
                      <ul class=" nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-usage-tab" data-toggle="pill" href="#pills-usage" role="tab" aria-controls="pills-usage" aria-selected="true">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-ingred-tab" data-toggle="pill" href="#pills-ingred" role="tab" aria-controls="pills-ingred" aria-selected="false">Ingredients</a>
            </li>
              
                <li class="nav-item">
              <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
            </li>

              <li class="nav-item">
              <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">Faq</a>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
           
            
            
            <div class="tab-pane fade show active" id="pills-usage" role="tabpanel" aria-labelledby="pills-usage-tab">
               <div class="sections-wrapper page-blocks" style="padding-top: 50px">
                 
                 <!--Recommended Use -->
                 
                 <div  class="text-columns" id="block-type-id-be031032-56e4-4a7f-b102-868b8ca44aba">
      <div class="index-section">
        
            <div class="page-width text-image-column" id="block-id-be031032-56e4-4a7f-b102-868b8ca44aba" data-aos>
  
    <header class="section-header" data-aos>
      <h2 class="section-header__title appear-delay">
        Recommended Use
      </h2>
    </header>
  
  
  

  
  
  

  

  <div class="grid grid--uniform text-left">
    
      <div class="grid__item grid-column medium-up--one-third appear-delay-1">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_halal_copy_{width}x.png?v=1595463527"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">Maintenance</div>
        
        
          <div class="rte-setting text-spacing"><p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p></div>
        
        
      </div>
    

    
      <div class="grid__item grid-column medium-up--one-third appear-delay-2">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/Group_7_180x_59b98e04-5a54-4672-9dc8-37b1ea1d74f0_{width}x.png?v=1608582540"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">Sex-Associated or symptomatic</div>
        
        
          <div class="rte-setting text-spacing"><p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p></div>
        
        
      </div>
    

    
      <div class="grid__item grid-column medium-up--one-third appear-delay-3">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/Group_8_180x_4769e0ed-a8a7-4b00-955e-d236f9c311f8_{width}x.png?v=1608161218"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">3 Tests Per Box</div>
        
        
          <div class="rte-setting text-spacing"><p>Individually packaged test strips allowing for safe storage and mobility if required.</p></div>
        
        
      </div>
    
    
    
    
  </div>
</div>


          
      </div>
    </div>
                 
                 <!-- End Recommended -->
            {% section 'starter-sections' %}
            </div>
            </div>
     
            
            <div class="tab-pane fade" id="pills-ingred" role="tabpanel" aria-labelledby="pills-ingred-tab">
              {% section 'starter-sections-ingredient' %} 
              {% section 'starter-sections' %}
            </div>
            
            
            
            
           <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
            
			<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>
				{% section 'starter-sections-reviews' %} 
        {% section 'starter-sections' %}
      </div> 
            
           
              <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
                
                <!-- FAQs -->
                
                <div class="container" style="max-width: 1200px; padding-top: 50px; margin-bottom: 100px;">
                  {% section 'starter-kit-faq' %}
                </div>
                
                <!-- End FAQs -->
                {% section 'starter-sections' %} 
            </div>
          </div>

              </div>
            </div>
          


{% section 'probiotic-recommendations' %}

{%- if collection -%}
  <div class="text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{%- endif -%}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>     
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="{{ 'custom.js' | asset_url }}" defer></script> 
{% section 'sezzle-widget' %}




