
{% section 'probiotic-template' %}


{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}


<div style="width: 100%">
  <div class="index-section index-section--alt">
        
    <div class="page-width text-left">
      <div class="grid">
        <div class="grid__item">
          <p class="h2" style="color: #fff">
            Why the Max Power Bundle?
          </p>
          <div class="rte" style="color: #fff">
            <p>The Utiva Max Power Bundle is our most robust offering which provides 3 of our main products that help stop bacteria from sticking plus the probiotic to improve overall gut health. When combined, the ability for soluble PACs and D-mannose to effectively stop most bacteria is at its strongest to help maintain a very health urinary tract. Soluble cranberry PACs are known to help stop a diverse range of bacteria from sticking and D-Mannose is known to prevent E.coli from sticking. When taking both these products, it is recommended to take the D-Mannose 2 hours after the Cranberry PACs as D-mannose may interfere with the ability for the PACs to work at their optimal best. The Utiva Probiotic Power provides a 30 Billion CFU unique blend of Lactobacillus and Bifidobacterium probiotic strains aimed at improving urinary tract and gut health.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tabs-box">
  <div class="tabs-main">
    <ul class=" nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-usage-tab" data-toggle="pill" href="#pills-usage" role="tab" aria-controls="pills-usage" aria-selected="true">Usage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-ingred-tab" data-toggle="pill" href="#pills-ingred" role="tab" aria-controls="pills-ingred" aria-selected="false">Ingredients</a>
      </li>
        
          <li class="nav-item">
        <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">Faq</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-usage" role="tabpanel" aria-labelledby="pills-usage-tab">
        <div class="sections-wrapper page-blocks" style="padding-top: 50px">
          <!-- Recommended Use -->
          <div  class="text-columns" id="block-type-id-d008e77e-6b74-477a-ae53-3c0cb883b97b">
            <div class="index-section">
              <div class="page-width text-image-column" id="block-id-d008e77e-6b74-477a-ae53-3c0cb883b97b" data-aos>
                <header class="section-header" data-aos>
                  <h2 class="section-header__title appear-delay">Product Highlights</h2>
                </header>
                <div class="grid grid--uniform text-left">
                  <div class="grid__item grid-column medium-up--one-quarter appear-delay-1">
                    <div style="max-width: 60px;">
                      <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                            data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_halal_{width}x.png?v=1595463471"
                            data-widths="[180, 360, 540, 750, 900, 1080]"
                            data-aspectratio="1.0"
                            data-sizes="auto"
                            alt="">
                      </div>
                    </div>
                    <div class="h2">100% Natural - Non-Antibiotic Prevention Option</div>
                    <div class="rte-setting text-spacing">
                      <p>Utiva carefully selects cranberries known to have high soluble PAC content, sourced locally in North America, to produce this unique product.</p>
                    </div>
                  </div>
                  <div class="grid__item grid-column medium-up--one-quarter appear-delay-2">
                    <div style="max-width: 60px;">
                      <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                            data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_halal_copy_2_da03acee-c69e-4166-90db-37950b993a88_{width}x.png?v=1595463584"
                            data-widths="[180, 360, 540, 750, 900, 1080]"
                            data-aspectratio="1.0"
                            data-sizes="auto"
                            alt="">
                      </div>
                    </div>
                    <div class="h2">Recommended by Doctors</div>
                    <div class="rte-setting text-spacing">
                      <p>Healthcare practitioners from across North America recommend Utiva Urinary Tract Infection Control Supplement to female and male patients to help prevent UTIs and support good urinary tract health.</p>
                    </div>
                  </div>
                  <div class="grid__item grid-column medium-up--one-quarter appear-delay-3">
                    <div style="max-width: 60px;">
                      <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                            data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_non_gmo_copy_4b069128-e601-41e6-878f-b1fda6332519_{width}x.png?v=1595463556"
                            data-widths="[180, 360, 540, 750, 900, 1080]"
                            data-aspectratio="1.0"
                            data-sizes="auto"
                            alt="">
                      </div>
                    </div>
                    <div class="h2">Clinically-Proven Research</div>
                    <div class="rte-setting text-spacing">
                      <p>Utiva's main active ingredient are soluble proanthocyanidins (PACs), clinically proven to be the cranberries' most bioactive component for naturally treating UTIs.</p>
                    </div>  
                  </div>
                  <div class="grid__item grid-column medium-up--one-quarter appear-delay-2">
                    <div style="max-width: 60px;">
                      <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                            data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/Group_3_{width}x.png?v=1608160246"
                            data-widths="[180, 360, 540, 750, 900, 1080]"
                            data-aspectratio="1.0"
                            data-sizes="auto"
                            alt="">
                      </div>
                    </div>
                    <div class="h2">High in Antioxidants</div>
                    <div class="rte-setting text-spacing">
                      <p>Proanthocyanidins (PACs) are an all-natural plant-based micronutrient full of antioxidants. Our high concentration of soluble PACs helps to promote and maintain good overall health.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Recommended -->
          {% section 'max-powerbundle-sections' %}
        </div>
      </div>

      <div class="tab-pane fade" id="pills-ingred" role="tabpanel" aria-labelledby="pills-ingred-tab">
        {% section 'max-powerbundle-ingredients' %} 
        {% section 'max-powerbundle-sections' %}
      </div>

      <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab"> 
			  <div 
          id="stamped-main-widget" 
          class="stamped-main-widget" 
          data-product-id="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}"
          data-description="{{ product.description | escape }}"
          data-product-sku="{{product.handle}}"
          data-product-type="{{product.type}}">
        </div>
        {% section 'max-powerbundle-sections-reviews' %} 
        {% section 'max-powerbundle-sections' %}
      </div>

      <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
        <div class="container" style="max-width: 1200px; padding-top: 50px; margin-bottom: 100px;">
          {% section 'max-powerbundle-faq' %}
        </div>
        {% section 'max-powerbundle-sections' %}
      </div>
  </div>
</div>
         
{% section 'probiotic-recommendations' %}

{%- if collection -%}
  <div class="text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{%- endif -%}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>     
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="{{ 'custom.js' | asset_url }}" defer></script> 
{% section 'sezzle-widget' %}