{% section 'probiotic-template' %}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
<div style="width: 100%">
  <div class="index-section index-section--alt">
        
            <div class="page-width text-left">
    <div class="grid">
      <div class="grid__item">
        
          <p class="h2" style="color: #fff">
            Why Utiva UTI Test Strips?
          </p>
        
        
          <div class="rte" style="color: #fff">
            
            <p>The same type of tests that most doctors use to diagnose a UTI. Utiva UTI Test Strips have 2 tests in one.  It checks for Leukocyte (white blood cells) and Nitrite (presence of Ecoli) which are both things that signal if you have an UTI and give you results in just 2 minutes.*</p><p><strong>Test safely and simply and then follow up with your doctor when needed.</strong></p>
            
          </div>
        
      </div>
    </div>
  </div>
</div>
<div class="tabs-box">
            
              <div class="tabs-main">
                  
                      <ul class=" nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-usage-tab" data-toggle="pill" href="#pills-usage" role="tab" aria-controls="pills-usage" aria-selected="true">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-ingred-tab" data-toggle="pill" href="#pills-ingred" role="tab" aria-controls="pills-ingred" aria-selected="false">Ingredients</a>
            </li>
              
                <li class="nav-item">
              <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
            </li>

              <li class="nav-item">
              <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">Faq</a>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
           
            
            
            <div class="tab-pane fade show active" id="pills-usage" role="tabpanel" aria-labelledby="pills-usage-tab">
               <div class="sections-wrapper page-blocks" style="padding-top: 50px">
                 
                 <!-- Recommended Use -->
                 
                 <div  class="text-columns" id="block-type-id-d3a137ad-bcd7-40a2-bb23-ca32006ec641">
      <div class="index-section">
        
            <div class="page-width text-image-column" id="block-id-d3a137ad-bcd7-40a2-bb23-ca32006ec641" data-aos>
  
    <header class="section-header" data-aos>
      <h2 class="section-header__title appear-delay">
        Recommended Use
      </h2>
    </header>
  
  
  

  
  
  

  

  <div class="grid grid--uniform text-left">
    
      <div class="grid__item grid-column medium-up--one-third appear-delay-1">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_halal_copy_{width}x.png?v=1595463527"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">Do it at Home</div>
        
        
          <div class="rte-setting text-spacing"><p>If you want to skip the doctor&#x27;s office and test for a UTI at home or when traveling.</p></div>
        
        
      </div>
    

    
      <div class="grid__item grid-column medium-up--one-third appear-delay-2">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.166666667%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/mass-icons-utiva_halal_copy_10_{width}x.png?v=1596121921"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="0.9983361064891847"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">Directions</div>
        
        
          <div class="rte-setting text-spacing"><p>1. Treat as mid stream test and urinate on the strip so the target pads are wet.</p><p>2. Check the color changes for Nitrates at 1 minute and Leukocytes at 2 minutes.</p></div>
        
        
      </div>
    

    
      <div class="grid__item grid-column medium-up--one-third appear-delay-3">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/Group_8_180x_4769e0ed-a8a7-4b00-955e-d236f9c311f8_{width}x.png?v=1608161218"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">3 Tests Per Box</div>
        
        
          <div class="rte-setting text-spacing"><p>Individually packaged test strips allowing for safe storage and mobility if required.</p></div>
        
        
      </div>
    
    
    
    
  </div>
</div>


          
      </div>
    </div>
                 
                 <!-- Recommended -->
            {% section 'teststrip-sections' %} 
            </div>
            </div>
     
            
            <div class="tab-pane fade" id="pills-ingred" role="tabpanel" aria-labelledby="pills-ingred-tab">
              {% section 'teststrip-sections-ingredient' %} 
              {% section 'teststrip-sections' %}
            </div>
            
            
            
            
           <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
            
			<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{product.handle}}" data-product-type="{{product.type}}"></div>
				{% section 'teststrip-sections-review' %} 
             {% section 'teststrip-sections' %}
            </div> 
            
           
              <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
                
                <!-- FAQs -->
                
               <div class="container" style="max-width: 1200px; padding-top: 50px; margin-bottom: 100px;">
<div>
        <div class="page-blocks page-blocks--flush">
<div>
              
                  <div class="index-section index-section--faq"><div class="page-width text-left">
    <div class="grid">
      <div class="grid__item">
        
          <p class="h2">
            Frequently Asked Questions
          </p>
        
        
      </div>
    </div>
  </div></div>

                
            </div>
<div>
               <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596665073576" aria-expanded="false">
    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg>
</span>

    Why Utiva UTI Test Strips?   </button>
  <div id="FAQ-content-1596665073576" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>The same type of tests that most doctors use to diagnose a UTI. Utiva UTI Test Strips have 2 tests in one. It checks for Leukocyte (white blood cells) and Nitrite (presence of Ecoli) which are both things that signal if you have an UTI and give you results in just 2 minutes. Test safely and simply and then follow up with your doctor when needed.</p>
    </div>
  </div>
</div>

              
            </div>
<div>
                  <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596665531556" aria-expanded="false">
    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg>
</span>

    Where can I buy Utiva products?
  </button>
  <div id="FAQ-content-1596665531556" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p><a href="http://utivahealth.com/">utivahealth.com</a><span style="text-decoration: underline;"></span><span style="text-decoration: none;"> and<br></span><a href="http://amazon.com/"> </a><a href="http://amazon.com/">Amazon.com</a><span style="text-decoration: underline;"></span></p>
    </div>
  </div>
</div>

              
            </div>
<div>
              
               
                  <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596665652339" aria-expanded="false">
    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg>
</span>

    I have more questions, how do I contact you?
  </button>
  <div id="FAQ-content-1596665652339" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>You can contact us via email, phone or direct messaging on Facebook or Instagram. You can always refer to our website for more resources, tips and for general information.(https://www.utivahealth.com/). Our customer care number is 1-888-622-3613. Our lines are open Monday to Friday from 9am to 6pm EST.</p>
    </div>
  </div>
</div>

              
            </div>
<div>
              
                  <div class="index-section index-section--faq"><div class="page-width text-left">
    <div class="grid">
      <div class="grid__item">
      
    </div>
  </div>
</div></div>
</div>
</div>
</div>
                </div>
                <!-- End FAQs -->
                
            
                   
<!--                 
                {% section 'teststrip-sections-faq' %}  -->
                {% section 'teststrip-sections' %} 
                
             <!--   <p class="h2">
Probiotic Power FAQ          </p>
       <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-onn">
    {% include 'collapsible-icons-alt', no_circle: true %}
     Does the Probiotic Power work?
  </button>
  <div id="FAQ-content-onn" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
     <p>Yes! Utiva’s Probiotic Power is an excellent probiotic option providing necessary strains to improve gut and urinary tract health. At the total value of 30 Billion CFU, at time of manufacture, the optimal required amount of probiotics are being provided. Additionally, our DR Capsules are vegetable based and specially created to ensure delivery of sensitive probiotic strains past the gut for targeted delivery.</p>    
    </div>
  </div>
        
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-one">
    {% include 'collapsible-icons-alt', no_circle: true %}
 How long do I have to wait to see the effects?  </button>
  <div id="FAQ-content-one" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
  <p>It is usually recommended to take natural products for a minimum of 4 weeks to see beneficial results but some will experience health benefits much earlier. It is important to take your Probiotic Power diligently every day to ensure optimal efficacy. Probiotics are often a long term process to regain and maintain your optimal gut health so please be patient!</p>    </div>
  </div>

          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-two">
    {% include 'collapsible-icons-alt', no_circle: true %}
    Does the Probiotic Power interact with other supplements and antibiotics?
  </button>
  <div id="FAQ-content-two" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>When taking antibiotics, it is recommended to take any probiotic 2-3 hours before/after taking your antibiotic. Aside from this, there are no known interactions with Probiotic Power and any other medication or supplements.</p></div>  </div>
         
          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-three">
    {% include 'collapsible-icons-alt', no_circle: true %}
Is it dairy-free and soy-free?  </button>
  <div id="FAQ-content-three" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>Yes! Utiva Probiotic Power is dairy-free and soy-free. It is a very clean formulation that is safe for all adult populations.</p>
    </div>  </div>
         
          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-four">
    {% include 'collapsible-icons-alt', no_circle: true %}
     Do I need to refrigerate Probiotic Power?
 </button>
  <div id="FAQ-content-four" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>No. Utiva Probiotic Power is shelf stable at room temperature. Being individually packed in blister packs also ensures improved stability with less exposure to air. Should you wish to refrigerate it, there is no harm in doing so.</p>
    </div>  </div>
                
            
            
            
            
            </div>-->
          
          
            </div>
              
            </div>
          </div>
  </div>

{% section 'probiotic-recommendations' %}

{%- if collection -%}
  <div class="text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{%- endif -%}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>     
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="{{ 'custom.js' | asset_url }}" defer></script> 
{% section 'sezzle-widget' %}

















