{% section 'wipes-template' %}
{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">  
{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
<div style="width: 100%; margin-top: -100px;">
  <div class="index-section index-section--alt">
        
            <div class="page-width text-left">
    <div class="grid">
      <div class="grid__item">
        
          <p class="h2" style="color: #fff">
            Why Utiva Cleansing Wipes?
          </p>
        
        
          <div class="rte" style="color: #fff">
            
            <p>The Utiva Cleansing Wipes are specially formulated with natural organic ingredients to ensure the least chance of irritation or discomfort while providing comfort and freshness. They are locally-made with flushable* grade fabric ensuring the highest standards of quality are met.</p><p><strong>*Flushability is tested on the paper substrate(or fabric) in accordance with the current INDA/EDANA guidelines.</strong></p>
            
          </div>
        
      </div>
    </div>
  </div>
</div>
<div class="tabs-box">
            
              <div class="tabs-main">
                  
                      <ul class=" nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-usage-tab" data-toggle="pill" href="#pills-usage" role="tab" aria-controls="pills-usage" aria-selected="true">Usage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-ingred-tab" data-toggle="pill" href="#pills-ingred" role="tab" aria-controls="pills-ingred" aria-selected="false">Ingredients</a>
            </li>
              
                <li class="nav-item">
              <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">Reviews</a>
            </li>

              <li class="nav-item">
              <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">Faq</a>
            </li>

          </ul>
          <div class="tab-content" id="pills-tabContent">
           
            
            
            <div class="tab-pane fade show active" id="pills-usage" role="tabpanel" aria-labelledby="pills-usage-tab">
               <div class="sections-wrapper page-blocks" style="padding-top: 50px">
                 
                 <!-- Recommended Use -->
                 
                 <div  class="text-columns" id="block-type-id-39db7cd3-7488-487d-9b1b-898b71925c66">
      <div class="index-section">
        
            <div class="page-width text-image-column" id="block-id-39db7cd3-7488-487d-9b1b-898b71925c66" data-aos>
  
    <header class="section-header" data-aos>
      <h2 class="section-header__title appear-delay">
        Recommended Use
      </h2>
    </header>
  
  
  

  
  
  

  

  <div class="grid grid--uniform text-left">
    
      <div class="grid__item grid-column medium-up--one-third appear-delay-1">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_halal_copy_2_{width}x.png?v=1595463455"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">Directions</div>
        
        
          <div class="rte-setting text-spacing"><p>Open sticker label and remove wipe. Gently cleanse from front to back. Use only once and then discard in trash or flush one at a time.</p></div>
        
        
      </div>
    

    
      <div class="grid__item grid-column medium-up--one-third appear-delay-2">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_non_gmo_copy_{width}x.png?v=1595463521"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">Caution</div>
        
        
          <div class="rte-setting text-spacing"><p>Keep out of reach of children. For external use only. In case of eye contact, flush thoroughly with water.</p></div>
        
        
      </div>
    

    
      <div class="grid__item grid-column medium-up--one-third appear-delay-3">
        
          
          
            <div style="max-width: 60px;">
              <div class="image-wrap image-wrap--transparent text-spacing" style="height: 0; padding-bottom: 100.0%;"><img class="lazyload"
                    data-src="//cdn.shopify.com/s/files/1/0152/2181/7444/files/control_halal_copy_{width}x.png?v=1595463527"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="1.0"
                    data-sizes="auto"
                    alt="">
              </div>
            </div>
          
          
        
        
          <div class="h2">Shelf Life</div>
        
        
          <div class="rte-setting text-spacing"><p>Up to 24 months. Store product in a cool place away from the sun.</p></div>
        
        
      </div>
    
    
    
    
  </div>
</div>


          
      </div>
    </div>
                 
                 <!-- End Recommended -->
                 
            {% section 'wipes-sections' %}
            </div>
            </div>
     
            
            <div class="tab-pane fade" id="pills-ingred" role="tabpanel" aria-labelledby="pills-ingred-tab">
              {% section 'wipes-sections-ingredients' %} 
             {% section 'wipes-sections' %}
            </div>
            
            
            
            
           <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
            
			<div id="stamped-main-widget" class="stamped-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: " ? ", " % 3F" | replace: "& "," % 26"}}" data-description="{{ product.description | escape }}" data-product-sku="{{ product.handle }}" data-product-type="{{product.type}}"></div>
				{% section 'wipes-sections-reviews' %} 
           
             {% section 'wipes-sections' %}
            </div> 
            
           
              <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
                
                <!-- FAQs -->
                
               <div class="container" style="max-width: 1200px; padding-top: 50px; margin-bottom: 100px;">
<div>
        <div class="page-blocks page-blocks--flush">
<div>
              
                  <div class="index-section index-section--faq"><div class="page-width text-left">
    <div class="grid">
      <div class="grid__item">
        
          <p class="h2">
            Frequently Asked Questions
          </p>
        
        
      </div>
    </div>
  </div></div>

                
            </div>
<div>
              
                  <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596665073576" aria-expanded="false">
    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg>
</span>

    How will these Hygiene Wipes help to minimize the chances of me getting a UTI?
  </button>
  <div id="FAQ-content-1596665073576" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>UTIs can always be a challenge to manage and keeping bacteria away from our private areas is always an important factor. These wipes have 15 wipes per pouch to ensure we are not exposing the pouch to external factors too much. They help to ensure you are wiping with a soft and clean material that is free of bacteria.</p>
    </div>
  </div>
</div>

              
            </div>
<div>
              
                  <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596665088508" aria-expanded="false">
    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg>
</span>

    Are there any chemicals in the wipes?
  </button>
  <div id="FAQ-content-1596665088508" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>Not at all. Everything is 100% natural and carefully chosen to minimize the chance of irritation and introduction of new bacteria.</p>
    </div>
  </div>
</div>

              
            </div>
<div>
              
                  <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596665263887" aria-expanded="false">
    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg>
</span>

    Are the wipes scented?
  </button>
  <div id="FAQ-content-1596665263887" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>While these wipes have not had any perfumes or scents added, some of the natural ingredients may have a mild, natural fragrance that innately is part of the ingredient.</p>
    </div>
  </div>
</div>

              
            </div>
<div>
              
                  <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-1596665280035" aria-expanded="false">
    <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation">
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-plus" viewbox="0 0 20 20"><path fill="#444" d="M17.409 8.929h-6.695V2.258c0-.566-.506-1.029-1.071-1.029s-1.071.463-1.071 1.029v6.671H1.967C1.401 8.929.938 9.435.938 10s.463 1.071 1.029 1.071h6.605V17.7c0 .566.506 1.029 1.071 1.029s1.071-.463 1.071-1.029v-6.629h6.695c.566 0 1.029-.506 1.029-1.071s-.463-1.071-1.029-1.071z"></path></svg>
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-minus" viewbox="0 0 20 20"><path fill="#444" d="M17.543 11.029H2.1A1.032 1.032 0 0 1 1.071 10c0-.566.463-1.029 1.029-1.029h15.443c.566 0 1.029.463 1.029 1.029 0 .566-.463 1.029-1.029 1.029z"></path></svg>
</span>

    Are these safe for hands and cleaning surfaces?
  </button>
  <div id="FAQ-content-1596665280035" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>The Utiva Hygiene Wipes were designed to provide a comfortable and clean experience when wiping our private areas. While there is no harm in using them for hands and cleaning surfaces, these are not considered antibacterial wipes if that is your ultimate goal.</p>
    </div>
  </div>
</div>

              
            </div>

<div>
              
                  <div class="index-section index-section--faq"><div class="page-width text-left">
    <div class="grid">
      <div class="grid__item">
      
    </div>
  </div>
</div></div>
</div>
</div>
</div>
                </div>
                <!-- End FAQs -->
                
           
                   
                
<!--                 {% section 'wipes-sections-faq' %}  -->
                {% section 'wipes-sections' %}
                
             <!--   <p class="h2">
Probiotic Power FAQ          </p>
       <div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-onn">
    {% include 'collapsible-icons-alt', no_circle: true %}
     Does the Probiotic Power work?
  </button>
  <div id="FAQ-content-onn" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
     <p>Yes! Utiva’s Probiotic Power is an excellent probiotic option providing necessary strains to improve gut and urinary tract health. At the total value of 30 Billion CFU, at time of manufacture, the optimal required amount of probiotics are being provided. Additionally, our DR Capsules are vegetable based and specially created to ensure delivery of sensitive probiotic strains past the gut for targeted delivery.</p>    
    </div>
  </div>
        
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-one">
    {% include 'collapsible-icons-alt', no_circle: true %}
 How long do I have to wait to see the effects?  </button>
  <div id="FAQ-content-one" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
  <p>It is usually recommended to take natural products for a minimum of 4 weeks to see beneficial results but some will experience health benefits much earlier. It is important to take your Probiotic Power diligently every day to ensure optimal efficacy. Probiotics are often a long term process to regain and maintain your optimal gut health so please be patient!</p>    </div>
  </div>

          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-two">
    {% include 'collapsible-icons-alt', no_circle: true %}
    Does the Probiotic Power interact with other supplements and antibiotics?
  </button>
  <div id="FAQ-content-two" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>When taking antibiotics, it is recommended to take any probiotic 2-3 hours before/after taking your antibiotic. Aside from this, there are no known interactions with Probiotic Power and any other medication or supplements.</p></div>  </div>
         
          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-three">
    {% include 'collapsible-icons-alt', no_circle: true %}
Is it dairy-free and soy-free?  </button>
  <div id="FAQ-content-three" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>Yes! Utiva Probiotic Power is dairy-free and soy-free. It is a very clean formulation that is safe for all adult populations.</p>
    </div>  </div>
         
          <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-four">
    {% include 'collapsible-icons-alt', no_circle: true %}
     Do I need to refrigerate Probiotic Power?
 </button>
  <div id="FAQ-content-four" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      <p>No. Utiva Probiotic Power is shelf stable at room temperature. Being individually packed in blister packs also ensures improved stability with less exposure to air. Should you wish to refrigerate it, there is no harm in doing so.</p>
    </div>  </div>
                
            
            
            
            
            </div>-->
          
       
            </div>
              </div>
            </div>
          </div>


{% section 'wipes-recommendations' %}

{%- if collection -%}
  <div class="text-center">
    <a href="{{ collection.url }}" class="btn btn--tertiary">
      &xlarr; {{ 'products.general.collection_return' | t: collection: collection.title }}
    </a>
  </div>
{%- endif -%}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>     
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
<script src="{{ 'custom.js' | asset_url }}" defer></script> 
{% section 'sezzle-widget' %}